@font-face {
  font-family: 'Futura Book C';
  src:  url('../fonts/futurabookc.woff2') format('woff2'), /* modern browsers */
  url('../fonts/futurabookc.woff') format('woff'); /* modern browsers */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Futura Medium C';
  src:  url('../fonts/futuramediumc.woff2') format('woff2'), /* modern browsers */
  url('../fonts/futuramediumc.woff') format('woff'); /* modern browsers */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Futura Demi C';
  src:  url('../fonts/futurademic.woff2') format('woff2'), /* modern browsers */
  url('../fonts/futurademic.woff') format('woff'); /* modern browsers */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}