// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 0px;
$fb-offset-x: 0px;
$fb-offset-y: 0px;
$fb-width: 30px;
$fb-height: 30px;
$fb-total-width: 60px;
$fb-total-height: 60px;
$fb-image: '../img/sprite.png';
$fb: (0px, 0px, 0px, 0px, 30px, 30px, 60px, 60px, '../img/sprite.png', 'fb', );
$inst-name: 'inst';
$inst-x: 30px;
$inst-y: 0px;
$inst-offset-x: -30px;
$inst-offset-y: 0px;
$inst-width: 30px;
$inst-height: 30px;
$inst-total-width: 60px;
$inst-total-height: 60px;
$inst-image: '../img/sprite.png';
$inst: (30px, 0px, -30px, 0px, 30px, 30px, 60px, 60px, '../img/sprite.png', 'inst', );
$mail-name: 'mail';
$mail-x: 30px;
$mail-y: 30px;
$mail-offset-x: -30px;
$mail-offset-y: -30px;
$mail-width: 14px;
$mail-height: 10px;
$mail-total-width: 60px;
$mail-total-height: 60px;
$mail-image: '../img/sprite.png';
$mail: (30px, 30px, -30px, -30px, 14px, 10px, 60px, 60px, '../img/sprite.png', 'mail', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 30px;
$vk-offset-x: 0px;
$vk-offset-y: -30px;
$vk-width: 30px;
$vk-height: 30px;
$vk-total-width: 60px;
$vk-total-height: 60px;
$vk-image: '../img/sprite.png';
$vk: (0px, 30px, 0px, -30px, 30px, 30px, 60px, 60px, '../img/sprite.png', 'vk', );
$spritesheet-width: 60px;
$spritesheet-height: 60px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($fb, $inst, $mail, $vk, );
$spritesheet: (60px, 60px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
