.product
    .product-image1.column-label--img
        img(src='images/product-cart.jpg')
    .product-details
        a.product-title(href='') Dingo Dog Bones
        a.product-desc(href='') 2017 г. Сплав : сталь с никелевым покрытием Transnistrian...
    .column-label--price
        .product-price.js-price 23 560
    .product-quantity.column-label--num
        span.qt-minus -
        input.qt(type='text', value='1')
        span.qt-plus +
    .product-in-price
        .product-price.js-cost 23 560
    .product-removal
        a.remove-product
            +svg("cross")
