section.green-bg.last-seen
    .container
        .green-name.section__title Вы недавно смотрели
        .row
            .col-sm-6.col-lg-3.hit.mix
                .product-card
                    .cart-name 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                    .img-cont.product-card__img-cont.img-cont--border
                        img(src="images/p1.jpg" alt="")
                    .cart-desc 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                    .cart-price.rub2 120
                    .cart-controls
                        a(href="").btn.btn-yellow2 Подробнее
                        a(href="").btn.btn-green.buy-btn
                            +svg('empty_cart')
                    .cart-icons
                        a(href="").cart-icon.cart-star.active
                            +svg('star')
                        a(href="").cart-icon.cart-star.active
                            +svg('libra_line')

            .col-sm-6.col-lg-3.new.mix
                .product-card
                    .cart-name  1 рубль Приднестровье 2017 год "Кафедральный собор всех святых г. Дубоссары"
                    .img-cont.product-card__img-cont.img-cont--border
                        img(src="images/p2.jpg" alt="")
                    .cart-desc 2017 г. Сплав : сталь с никелевым покрытием Transnistrian Republican Bank
                    .cart-price.rub2 120
                    .cart-controls
                        a(href="").btn.btn-yellow2 Подробнее
                        a(href="").btn.btn-green.buy-btn
                            +svg('empty_cart')

                    .cart-icons
                        a(href="").cart-icon.cart-star
                            +svg('star')
                        a(href="").cart-icon.cart-star.active
                            +svg('libra_line')
            .col-sm-6.col-lg-3.soon.mix
                .product-card
                    .cart-name Лупа со стеклянной линзой 3-крат
                    .img-cont.product-card__img-cont.img-cont--border
                        img(src="images/p4.jpg" alt="")
                    .cart-desc диаметром 75 мм. Удобна как для чтения,  так и для коллекционеров. Leuchtturm, Германия
                    .cart-price.rub2 120
                    .cart-controls
                        a(href="").btn.btn-yellow2 Подробнее
                        a(href="").btn.btn-green.buy-btn
                            +svg('empty_cart')
                    .cart-icons
                        a(href="").cart-icon.cart-star
                            +svg('star')
                        a(href="").cart-icon.cart-star
                            +svg('libra_line')

            .col-sm-6.col-lg-3.soon.mix
                .product-card
                    .cart-name 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                    .img-cont.product-card__img-cont.img-cont--border
                        img(src="images/prh.jpg" alt="")
                    .cart-desc 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                    .cart-price.rub2 120
                    .cart-controls
                        a(href="").btn.btn-yellow2 Подробнее
                        a(href="").btn.btn-green.buy-btn
                            +svg('empty_cart')
                    .cart-icons
                        a(href="").cart-icon.cart-star
                            +svg('star')
                        a(href="").cart-icon.cart-star
                            +svg('libra_line')
        .text-center
            a.btn.btn-yellow.last-seen__more-btn(href="") показать все просмотренные товары
