section.yellow-bg.subscribe-section
    .container
        .row
            .col-md-7
                form.subscribe-form.bg-pattern2.flex-form
                    .advantages__item Подпишитесь на рассылку:
                    input(type="text" placeholder="Введите e-mail").form-control.form-control--yellow
                    button(type="submit").btn.btn-green.subscribe-form__btn Подписаться
            .col-md-5.text-center.text-md-right
                .call-block
                    +svg('phone')
                    div
                        a(href="tel:+73433615727").big-phone.call-block__tel +7 (343)
                            span  361 57 27
                        a(href="tel:+79221815727").big-phone.call-block__tel +7 (922)
                            span  181 57 27
                        div.text-right
                            a.green-link(href="#") Заказать звонок