.main-section__usl-title {
    margin-top: -11px;
    margin-bottom: 83px;
    margin-left: 23px;
    font-family: $futurademic;
    color: #ffffff;
    font-size: 63px;
    font-weight: 400;
    line-height: 0.91;
    font-variant: small-caps;
    letter-spacing: 1.16px;
    text-align: center;
}
.haw {
    padding: 0;
    .container {
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            bottom: 3px;
            right: calc(100% - 354px);  
            width: 729px;
            z-index: -1;
            background-image: url(../images/haw.jpg);
            background-size: cover;
        }
    }
    &__title {
        @include s-title;
        padding-top: 67px;
        text-align: center;
        &:after {
            @include s-title-line;
        }
    }

    &__item{
        &_right {
            padding-left: 35px;
        }
    }

    &__item-title {
        font-family: $FuturaBookC;
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        position: relative;
        
        span {
            font-family:$futurademic;
            text-transform: uppercase;
            font-weight: 400;
        }
        &:after {
            content: '';
            background: #86a3ae;
            width: 190px;
            height: 1px;
            margin: 27px 0 27px;
            display: block;
        }
    }
    &__item-num {
        font-family: $FuturaMediumC;
        color: #227189;
        font-size: 54px;
        line-height: 54px;
        font-weight: 400;
        letter-spacing: -4.6px;
        position: absolute;
        top: -4px;
        right: 100%;
        margin-right: 13px;
        &_first {
            margin-right: 20px;
            letter-spacing: -9.6px;
        }
    }
    &__text  {
        font-family: $FuturaBookC;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        &_agreement {
            letter-spacing: 0.05px;
        }   
    }
    &__list {
        font-family: $FuturaBookC;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-decoration: underline;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 25px;
        li {
            margin-bottom: 5px;
        }
    }
    &__bottom {
        margin-left: 158px;
        padding-top: 41px;
        padding-bottom: 69px; 
        font-size: 16px;
        font-family: $FuturaBookC;
        font-weight: 300;
        line-height: 19px;
        display: flex;
        span {
            font-family: $futurademic;
            font-weight: 600;
        }

        &:before {
            content: '';
            display: inline-block;
            width: 75px;
            height: 58px;
            flex-shrink: 0;
            margin-top: -5px;
            margin-right: 18px;
            background-image: url(../images/check.png);
            background-size: cover;
        }
    }
}

.payment {
    padding: 0;
    background-color: #edf2f3;
    &__title {
        @include s-title;
        padding-top: 67px;
        text-align: center;
        &::after {
            @include s-title-line;
            margin-bottom: 45px;
        }
    }

    &__text {
        @include s-text;
        text-align: center;
        &_bottom {
            padding-top: 34px;
            padding-bottom: 65px;
            margin-right: 3px;
        }
    }
    &__item {
        position: relative;
        padding-top: 210px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 60px;
            width: 113px;
            height: 141px;

            background-repeat: no-repeat;
        }

        &_one {
            &::after {
                top: 19px;
                width: 196px;
                height: 195px;
                margin-left: -44px;
                background-image: url("../images/icon-payment-cash.png");
            }
        }
        &_two {
            margin-right: -15px;
            padding-left: 31px; 
            &::after {
                margin-left: 28px;
                background-image: url("../images/icon-payment-score.png");
            }  
        }
        &_three {
            margin-right: -25px;
            padding-left: 53px;
            &::after {
                margin-left: 51px;
                background-image: url("../images/icon-payment-cart.png");
            }
        }
        &_four {
            padding-left: 47px;
            &::after {
                margin-left: 45px;
                background-image: url("../images/icon-payment-time.png");
            }
        }
    }

    &__item-title {
        font-family: "Futura Demi C", Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 31.94px;
        text-transform: uppercase;
        letter-spacing: 0.41px;
    }

    &__item-text {
        padding-top: 4px;
        font-family: "Futura Book C", Arial, sans-serif;
        font-size: 13px;
        line-height: 1.24;
        font-weight: 400;
        letter-spacing: 0.035px;
    }
}

.requirements {
    padding: 0;
    &__title {
        @include s-title;
        padding-top: 67px;
        text-align: center;

        &::after {
            @include s-title-line;
        }
    }
}