.course-bread-crumps {
  .bread-crumps {
    margin-left: 32px;
    margin-top: 21px;
    margin-bottom: 34px;
  }
}

.banner {
  padding: 0;
  padding-top: 5px;
}

.course {
  padding: 0;
  &__wrapper-title {
    padding-left: 30px;
  }
  &__title {
    padding-bottom: 13px;
    color: #4e5c62;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }
  &__time {
    padding-bottom: 6px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.39px;
  }
  &__content {
    background-color: #edf2f3;
    height: 100px;
  }
}

.rating {
  width: 254px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  background-color: #edf2f3;
  &__wrapper-rating {
    padding-top: 12px;
    padding-bottom: 7px;
    padding-left: 21px;
    padding-right: 14px;
  }
  &__rating-title {
    padding-bottom: 4px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
  &__rating-listen {
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.4px;
  }
  &__rating-value {
    position: relative;
    padding-top: 6px;
    padding-left: 14px;
    flex-grow: 1;
    background-color: #55a730;
    color: #ffffff;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15.7px;
    letter-spacing: -1.2px;
    b {
      font-family: "Futura Demi C", Arial, sans-serif;
      font-size: 45px;
      line-height: 47.92px;
      letter-spacing: -3.3px;
    }
    &::after,
    &::before {
      position: absolute;
      width: 0;
      height: 0;
      border-right: 18px solid transparent;
      left: 0;
      content: "";
    }
    &::after {
      bottom: 0;
      border-bottom: 29px solid #edf2f3;;
    }
    &::before {
      top: 0;
      border-top: 29px solid #edf2f3;;
    }
  }
}

.salary {
  border: 1px solid #8c9ba0;
  &__salary-top {
    position: relative;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 80px;
    border-bottom: 1px solid #8c9ba0;
    background-color: #edf2f3;
    color: #4e5c62;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 0.9;
    letter-spacing: 0.45px;
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: 13px;
      width: 46px;
      height: 46px;
      background-image: url("../images/hh-icon.png");
      background-repeat: no-repeat;
    }
  }
  &__salaty-bottom {
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 11px;
    p {
      margin: 0;
      padding-bottom: 2px;
      color: #4e5c62;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -0.6px;
      b {
        font-family: "Futura Medium C", Arial, sans-serif;
        letter-spacing: 0;
      }
    }
  }
  &__rub {
    font-variant: small-caps;
  }
}

@include media-breakpoint-up(xx) {
  .page-course {
    &__main-content {
      margin-right: 68px;
    }
  }

  .col-costom{
    position: absolute;
    left: calc(100% - 71px);
    top: 0;
  }
}