.course-bread-crumps {
  .bread-crumps {
    margin-left: 32px;
    margin-top: 21px;
    margin-bottom: 34px;
  }
}

.banner {
  padding: 0;
  padding-top: 5px;
  &__item {
    margin-bottom: 39px;
  }
}

.course {
  padding: 0;
  &__wrapper-title {
    padding-left: 30px;
    margin-right: -60px;
  }
  &__title {
    padding-bottom: 13px;
    color: #4e5c62;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }
  &__time {
    padding-bottom: 6px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.39px;
  }
  &__wrapper-description {
    padding-top: 11px;
    padding-left: 32px;
    padding-right: 29px;
    padding-bottom: 30px;
    background-color: #edf2f3;
  }
  &__image-description {
    flex: 0 0 26%;
    align-self: flex-start;
    margin-top: 22px;
    border: 1px solid #8c9ba0;
    img {
      display: block;
    }
  }
  &__description {
    display: flex;
    padding-bottom: 25px;
  }
  &__content-description {
    flex-grow: 1;
    margin-left: 30px;
    margin-right: 0;
    * {
      transition: 0s;
    }  
    .course__wrapper-nav {
      min-width: 100%;
    }  
    .tab-content {
      position: relative;
      border: 1px solid #8c9ba0;
    }
    .nav {
      position: relative;
      z-index: 4;
      display: flex;
      margin-top: 0;
    }
    .nav-item {
      margin-right: 0;
      &:first-child {
        margin-left: auto;
      }
    }
    .nav-link {
      padding-top: 6px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 16px;
      color: rgba(#000000, 0.5);
      font-family: "Futura Book C", Arial, sans-serif;
      font-size: 10px;
      font-weight: 400;
      line-height: 1.2;
      text-transform: uppercase;
      letter-spacing: -0.2px;
    }
    .nav-link.active {
      padding-left: 14px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #000000;
      background-color: #edf2f3;
      border: 1px solid #8c9ba0;
      border-bottom: none;
    }
    .tab-pane {
      min-height: 214px;
      padding-left: 26px;
      padding-top: 38px;
      padding-right: 26px;
      padding-bottom: 16px;
    }
  }
  &__tab-day {
    position: absolute;
    left: 26px;
    top: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #96b0bb;
    color: #ffffff;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.49px;
  }
  &__tab-title {
    padding-bottom: 8px;
    color: #000000;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
  &__tab-text {
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.37px;
    line-height: 1.2;
    text-align: justify;
  }
  &__programms {
    border: 1px solid #8c9ba0;
    border-bottom: none;
  }
  &__header-programms {
    display: flex;
    align-items: flex-start;
    padding-left: 33px;
    padding-right: 3px;
    color: #ffffff;
    background-color: #013c56;
    a {
      color: inherit;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__programms-title {
    position: relative;
    padding-top: 13px;
    padding-bottom: 11px;
    margin-right: auto;
    padding-right: 40px;
    color: #ffffff;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    // &::after {
    //   content: '';
    //   width: 9px;
    //   height: 5px;
    //   position: absolute;
    //   top: 50%;
    //   right: 15px;
    //   margin-top: -3px;
    //   background-image: url(../images/tre-big.svg);
    //   background-size: 100%;
    //   background-repeat: no-repeat;
    // }
  }
  &__title-arrow {
    width: 60px;
    position: absolute;
    right: -62px;
    top: 7px;

    color: rgba(#ffffff, 0.8);
    font-family: "Futura Demi C", Arial, sans-serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    transition: 0s;
    text-align: center;
    &_expand {
      svg {
      position: absolute;
      top: calc(100% - 2px);
      left: 50%;
      margin-left: -6px;
      width: 11px;
      height: 10px;
      fill: rgba(#ffffff, 0.8);
      }
    }
    &_collapse {
      display: none;
      svg {
        position: absolute;
        top: calc(100% - 2px);
        left: 50%;
        margin-left: -6px;
        width: 11px;
        height: 10px;
        fill: rgba(#ffffff, 0.8);
        transform: rotate(180deg);
      }
    }
  }
  &__programms-button {
    position: relative;
    padding-top: 24px;
    padding-left: 6px;
    padding-right: 9px;
    color: #ffffff;
    font-family: "Futura Demi C", Arial, sans-serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    &_download {
      &::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 8px;
        left: 50%;
        margin-left: -10px;
        background-image: url("../images/downloads.svg");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
    &_print {
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 19px;
        top: 6px;
        left: 50%;
        margin-left: -12px;
        background-image: url("../images/print.svg");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }
  &__programms-content {
    display: none;
    border-bottom: 1px solid #8c9ba0;
  }

  &__button-expand {
    position: relative;
    padding: 0;
    padding-left: 26px;
    margin-bottom: 12px;
    border: none;
    background-color: transparent;
    color: #98b0bc;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    svg {
      position: absolute;
      left: -1px;
      top: 6px;
      width: 11px;
      height: 10px;
      fill: #98b0bc;
    }
    &_collapse {
      display: none;
      svg {
        transform: rotate(-180deg);
      }
    }
    &:hover {
      color: #04688a;
      svg {
        fill: #04688a;
      }
    }
  }

  &__programms-content {
    max-height: 706px;
    overflow-y: auto;
    padding-left: 34px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 10px;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
  &__programms-item {
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;
    padding-left: 25px;
    color: #000000;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    &:hover {
      color: #003c56;
    }
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: "+";
      color: #96b0bb;
      font-family: "Futura Demi C", Arial, sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }
    &_open {
      &::before {
        content: "-";
        left: 1px;
        top: -1px;
      }
    }
  }
  &__programms-subitem {
    margin-top: 2px;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-left: 21px;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    &::before {
      content: "–";
      margin-right: 4px;
    }
  }

  &__programms-sublist {
    display: none;
  }

  &__about-course {
    padding-left: 34px;
    padding-right: 5px;
    padding-top: 25px;
    padding-bottom: 13px;
    border-bottom: 1px solid #8c9ba0;
  }
  &__about-title {
    padding-bottom: 9px;
    color: #000000;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
  
  &__about-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
    max-height: 108px;
    li {
      padding-bottom: 5px;
      color: #000000;
      font-family: "Futura Book C", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 400;
      line-height: 22px;
      &::before {
        content: "—";
        display: inline-block;
        padding-right: 5px;
      }
    }
  }
  &__equipment {
    .nav-tabs {
      margin-top: 27px;
      * {
        transition: 0s;
      }
    }
    .nav-item {
      margin-right: 0;
    }
    .nav-link {
      height: 100%;
      color: #000000;
      font-family: "Futura Medium C", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 17px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      padding-top: 10px;
      padding-bottom: 6px;
      padding-left: 28px;
      padding-right: 25px;
    }
    .nav-link.active {
      padding-top: 9px;
      padding-bottom: 7px;
      padding-left: 27px;
      padding-right: 24px;
      color: #000000;
      font-family: "Futura Medium C", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 17px;
      background-color: #edf2f3;
      border: 1px solid #8c9ba0;
      border-bottom: none;
    }
    .tab-content {
      min-height: 230px;
      padding-top: 10px;
      padding-left: 34px;
      padding-right: 5px;
      border: 1px solid #8c9ba0;
    }
  }
  &__incost-list {
    margin-right: 20px;
    margin-left: 28px;
    padding-bottom: 63px;
  }
  &__incost-item {
    position: relative;
    padding-top: 100px;
    color: #013c56;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    font-variant: small-caps;
    letter-spacing: 0.4px;
    text-align: center;
    &_certificate {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 45px;
        width: 56px;
        height: 43px;
        margin-left: -29px;
        background-image: url("../images/certificate.svg");
        background-repeat: no-repeat;
      }
    }
    &_bonus {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 35px;
        width: 51px;
        height: 53px;
        margin-left: -28px;
        background-image: url("../images/bonus.svg");
        background-repeat: no-repeat;
      }
    }
    &_folder {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 29px;
        width: 64px;
        height: 58px;
        margin-left: -33px;
        background-image: url("../images/folder.svg");
        background-repeat: no-repeat;
      }
    }
    &_cofee {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 38px;
        width: 52px;
        height: 50px;
        margin-left: -27px;
        background-image: url("../images/cofee.svg");
        background-repeat: no-repeat;
      }
    }
  }
  &__process-learn {
    margin-left: -13px;
    margin-right: 2px;
    .col-md-2:first-child {
      .course__learn-item::before {
        content: none;
      }
    }
  }
  &__learn-item {
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 102px;
    padding-bottom: 20px;
    position: relative;
    color: #013c56;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: 0.4px;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      top: 44px;
      left: 50%;
      background-repeat: no-repeat;
    }
    &::before {
      content: "";
      position: absolute;
      top: 57px;
      left: -25px;
      width: 24px;
      height: 24px;
      background-image: url("../images/arrow-learn.png");
      background-repeat: no-repeat;
    }
    &_check {
      &::after {
        width: 51px;
        margin-left: -22px;
        height: 43px;
        background-image: url("../images/learn-1.png");
      }
      &::before {
        left: -25px;
      }
    }
    &_pay {
      margin-left: -4px;
      margin-right: 20px;
      &::after {
        width: 51px;
        margin-left: -20px;
        height: 43px;
        background-image: url("../images/learn-2.png");
      }
      &::before {
        left: -25px;
      }
    }
    &_access {
      margin-left: -20px;
      &::after {
        width: 44px;
        margin-left: -26px;
        height: 43px;
        background-image: url("../images/learn-3.png");
      }
      &::before {
        left: -14px;
      }
    }
    &_theory {
      margin-left: -12px;
      margin-right: -18px;
      &::after {
        width: 59px;
        margin-left: -27px;
        height: 43px;
        background-image: url("../images/learn-4.png");
      }
      &::before {
        left: -23px;
      }
    }
    &_task {
      margin-left: 9px;
      margin-right: -18px;
      &::after {
        width: 59px;
        margin-left: -19px;
        height: 43px;
        background-image: url("../images/learn-5.png");
      }
      &::before {
        left: -22px;
      }
    }
    &_certificate {
      &::after {
        width: 40px;
        margin-left: -20px;
        height: 43px;
        background-image: url("../images/learn-6.png");
      }
      &::before {
        left: -15px;
      }
    }
  }
  &__teacher-list {
    margin-top: 16px;
    margin-left: 27px;
    margin-right: 49px;
    .slick-prev,
    .slick-next {
      margin-top: -18px;
    }
  }
  &__teacher-item {
    padding-left: 15px;
    padding-right: 15px;
  }
  &__teacher-image {
    max-width: 141px;
    border: 1px solid #8c9ba0;
  }
  &__name-teacher {
    margin-top: 10px;
    text-align: center;
    margin-left: -12px;
    margin-right: -5px;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.35px;
  }
  &__feedback-list {
    margin: 0;
    margin-right: -20px;
    padding: 0;
    list-style: none;
    height: 202px;
    width: 100%;
    overflow: auto;
  }
  &__feedback-item {
    display: flex;
    align-items: flex-start;
    padding-top: 21px;
    padding-bottom: 23px;
    margin-right: 37px;
    border-bottom: 1px solid #8c9ba0;
  }
  &__feedback-photo {
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 32px;
    border: 1px solid #8c9ba0;
    width: 139px;
    height: 139px;
    img {
      display: block;
    }
  }
  &__feedback-content {
    flex-grow: 1;
  }
  &__feedback-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 7px;
    margin-bottom: 13px;
    &::after {
      content: "";
      position: absolute;
      left: 2px;
      bottom: 0;
      max-width: 100%;
      width: 331px;
      height: 1px;
      background-color: #8c9ba0;
    }
  }
  &__feedback-data {
    margin-top: -1px;
    color: rgba(#000000, 0.5);
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.4px;
  }
  &__feedback-rate {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }
  &__rate-item {
    width: 14px;
    height: 13px;
    margin-right: 3px;
  }
  [data-star='1'] .course__rate-item:nth-child(5) { 
    background-image: url(../images/star-rate.svg); 
  } 
  [data-star='2'] .course__rate-item:nth-child(5) { 
    background-image: url(../images/star-rate.svg); 
  } 
  [data-star='2'] .course__rate-item:nth-child(4) { 
    background-image: url(../images/star-rate.svg); 
  } 
  
  [data-star='3'] .course__rate-item:nth-child(5) { 
    background-image: url(../images/star-rate.svg); 
  } 
  [data-star='3'] .course__rate-item:nth-child(4) { 
    background-image: url(../images/star-rate.svg); 
  } 
  [data-star='3'] .course__rate-item:nth-child(3) { 
    background-image: url(../images/star-rate.svg); 
  } 
  
  [data-star='4'] .course__rate-item:nth-child(5) { 
    background-image: url(../images/star-rate.svg); 
  } 
  [data-star='4'] .course__rate-item:nth-child(4) { 
    background-image: url(../images/star-rate.svg); 
  } 
  [data-star='4'] .course__rate-item:nth-child(3) { 
    background-image: url(../images/star-rate.svg); 
  } 
  [data-star='4'] .course__rate-item:nth-child(2) { 
    background-image: url(../images/star-rate.svg); 
  } 
  
  [data-star='5'] .course__rate-item:nth-child(5) { 
    background-image: url(../images/star-rate.svg); 
  } 
  [data-star='5'] .course__rate-item:nth-child(4) { 
    background-image: url(../images/star-rate.svg); 
  } 
  [data-star='5'] .course__rate-item:nth-child(3) { 
    background-image: url(../images/star-rate.svg); 
  } 
  [data-star='5'] .course__rate-item:nth-child(2) { 
    background-image: url(../images/star-rate.svg); 
  } 
  [data-star='5'] .course__rate-item:nth-child(1) { 
    background-image: url(../images/star-rate.svg); 
  }
  &__feedback-user {
    padding-left: 3px;
    color: #000000;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.4px;
  }
  &__feedback-text {
    margin-top: 10px;
    margin-bottom: 13px;
    padding-left: 3px;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-align: justify;
  }
  &__locate {
    padding-left: 3px;
    color: rgba(#000000, 0.5);
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.4px;
  }
}

.rating {
  width: 254px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  background-color: #edf2f3;
  &__wrapper-rating {
    padding-top: 12px;
    padding-bottom: 7px;
    padding-left: 21px;
    padding-right: 14px;
  }
  &__rating-title {
    padding-bottom: 4px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
  &__rating-listen {
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.4px;
  }
  &__rating-value {
    position: relative;
    padding-top: 6px;
    padding-left: 14px;
    flex-grow: 1;
    background-color: #55a730;
    color: #ffffff;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15.7px;
    letter-spacing: -1.2px;
    b {
      font-family: "Futura Demi C", Arial, sans-serif;
      font-size: 45px;
      line-height: 47.92px;
      letter-spacing: -3.3px;
    }
    &::after,
    &::before {
      position: absolute;
      width: 0;
      height: 0;
      border-right: 18px solid transparent;
      left: 0;
      content: "";
    }
    &::after {
      bottom: 0;
      border-bottom: 29px solid #edf2f3;;
    }
    &::before {
      top: 0;
      border-top: 29px solid #edf2f3;;
    }
  }
}

.page-course {
  .lego-result {
    &__group {
      margin-bottom: 13px;
    }
    &__group-title {
      margin-top: 37px;
      margin-left: 68px;
      margin-bottom: 34px;
      color: #4e5c62;
      font-family: "Futura Medium C", Arial, sans-serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 31.94px;
      font-variant: small-caps;
      letter-spacing: 0.6px;
      text-transform: none;
    }
    &__item {
      padding-left: 0;
      padding-top: 25px;
      padding-bottom: 9px;
    }
    &__sity-toggle {
      top: 25px;
      right: 29px;
    }
    &__sity-item {
      padding-top: 7px;
      padding-left: 9px;
      padding-right: 9px;
      padding-bottom: 5px;
      border: none;
      border-bottom: 1px solid #8c9ba0;
      margin-left: 0;
      &--current {
        padding-top: 6px;
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid #8c9ba0;
      }
    }
    &__status {
      padding-top: 6px;
      padding-bottom: 4px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 17px;
      color: rgba(#ffffff, 0.8);
      font-family: "Futura Medium C", Arial, sans-serif;
      font-size: 10px;
      font-weight: 400;
      line-height: 1.2;
      text-transform: uppercase;
      letter-spacing: 0.37px;
      background-color: #96b0bb;
    }
    &__text {
      padding-bottom: 15px;
      line-height: 1.25;
      margin-bottom: 6px;
      &::after {
        width: 262px;
      }
    }
    &__name {
      margin-bottom: 7px;
    }
    &__wrapper-image {
      width: 174px;
      margin-left: 32px;
    }
    &__img {
      display: block;
      border: 1px solid #8c9ba0;
    }
    &__col-text {
      margin-left: -30px;
    }
    &__price {
      margin-bottom: 21px;
      margin-left: 25px;
      letter-spacing: 1.6px;
    }
    &__old-price {
      margin-top: 7px;
      margin-bottom: 0;
      opacity: 0.4;
      color: #3f4e55;
      font-family: "Futura Medium C", Arial, sans-serif;
      font-size: 19px;
      font-weight: 400;
      line-height: 24.37px;
      text-decoration: line-through;
      letter-spacing: 0.33px;
      .rub {
        letter-spacing: 0.33px;
        font-variant: small-caps;
      }
    }
    &__one-click {
      margin-top: 17px;
      margin-right: 35px;
      color: #000000;
    }
  }
}

.salary {
  border: 1px solid #8c9ba0;
  &__salary-top {
    position: relative;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 80px;
    border-bottom: 1px solid #8c9ba0;
    background-color: #edf2f3;
    color: #4e5c62;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 0.9;
    letter-spacing: 0.45px;
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: 13px;
      width: 46px;
      height: 46px;
      background-image: url("../images/hh-icon.png");
      background-repeat: no-repeat;
    }
  }
  &__salaty-bottom {
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 11px;
    p {
      margin: 0;
      padding-bottom: 2px;
      color: #4e5c62;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -0.6px;
      b {
        font-family: "Futura Medium C", Arial, sans-serif;
        letter-spacing: 0;
      }
    }
  }
  &__rub {
    font-variant: small-caps;
  }
}

.course-registry {
  padding-bottom: 37px;
  border: 1px solid #8c9ba0;
  background-color: #edf2f3;
  &__title {
    padding-top: 12px;
    padding-bottom: 11px;
    color: #ffffff;
    background-color: #013c56;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    text-align: center;
  }
  &__wrapper {
    padding-left: 19%;
    padding-right: 18%;
  }
  &__old-price {
    padding-top: 20px;
    margin-left: -3px;
    margin-right: -10px;
    opacity: 0.4;
    color: #3f4e55;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.13px;
    text-decoration: line-through;
  }
  &__price {
    position: relative;
    padding-top: 1px;
    margin-left: -5px;
    margin-right: -22px;
    color: #ff5f10;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 33px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.05px;
    font-variant: small-caps;
    &::after {
      content: "*";
      position: relative;
      top: -10px;
      right: 11px;
      font-size: 16px;
      line-height: 1;
    }
  }
  &__rub {
    font-size: 14px;
    line-height: 1;
    &_new {
      font-size: 32px;
    }
  }
  &__form-title {
    margin-bottom: 2px;
    padding-top: 15px;
    padding-bottom: 8px;
    color: rgba(#3f4e55, 0.5);
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    border-bottom: 1px solid #8c9ba0;
    letter-spacing: -0.1px;
    font-variant: small-caps;
    text-transform: uppercase;
  }

  &__checkbox {
    display: block;
    color: #3f4e55;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.26px;
    span {
      position: relative;
      display: block;
      padding-left: 36px;
      padding-top: 15px;
      &::after,
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
      }
      &::after {
        top: 16px;
        width: 24px;
        height: 24px;
        border: 1px solid #8c9ba0;
      }
      &::before {
        top: 22px;
        left: 6px;
        width: 14px;
        height: 8px;
        border-bottom: 3px solid #066988;
        border-left: 3px solid #066988;
        transform: rotate(-45deg);
        opacity: 0;
      }
    }
    input:checked + span {
      &::before {
        opacity: 1
      }
    }
    input:focus + span,
    input:hover + span {
      &::after {
        border-color: #c4c4c4;
      }
    }
  }
  &__wrapper-quantity {
    display: none;
    padding-top: 12px;
    margin-left: -3px;
    margin-right: -4px;
  }
  &__radio {
    display: inline-block;
    width: 24px;
    margin-top: 4px;
    margin-left: 3px;
    margin-right: 4px;
    span {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding-top: 3px;
      padding-bottom: 3px;
      vertical-align: middle;
      text-align: center; 
      border: 1px solid #8c9ba0;
      color: rgba(#3f4e55, 0.5);
      font-family: "Futura Book C", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
    }
    input:checked + span {
      color: #3f4e55;
      background-color: #d1f5fd;
    }
    input:focus + span,
    input:hover + span {
      background-color: #d1f5fd;
    }
  }
  &__wrapper-select {
    padding-top: 22px;
  }
  &__select_item {
    margin-bottom: 13px;
    .selectric {
      .label {
        margin-right: 29px;
        margin-left: 3px;
        color: #000000;
        font-family: "Futura Book C", Arial, sans-serif;
        font-size: 16px;
        line-height: 34px;
        font-weight: 400;
        letter-spacing: 0.3px;
      }
      .button {
        width: 27px;
        height: 100%;
      }
    }
  }
  &__credit-title {
    margin-right: -30px;
    padding-bottom: 5px;
    position: relative;
    padding-top: 15px;
    color: #3f4e55;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    font-variant: small-caps;
    letter-spacing: -0.2px;
    &::after {
      content: "**";
      position: relative;
      right: 10px;
      top: -17px;
      font-size: 12px;
      line-height: 1;
    }
  }
  &__credit-text {
    padding-left: 4px;
    padding-top: 9px;
    border-top: 1px solid #8c9ba0;
    color: #3f4e55;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.26px;
  }
  button {
    color: #ffffff;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    width: 100%;
    border: none;
    background-color: #ff5f10;
    transition: 0.2s;
    text-overflow: ellipsis;
    &:hover {
      background-color: #ff4005;
    }
  }
  &__wrapper-sponsor {
    padding-top: 7px;
    padding-bottom: 21px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    img {
      flex-grow: 0;
      display: block;
      margin-bottom: 10px;
    }
  }
}

.banner-map {
  &__title {
    margin-top: -7px;
    margin-bottom: 1px;
    color: #3f4e55;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    font-variant: small-caps;
    letter-spacing: 0.36px;
    text-align: center
  }
  &__text {
    margin-bottom: 12px;
    color: #3f4e55;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.35px;
    line-height: 19px;
    text-align: center;
  }
  &__wrapper-map {
    position: relative;
    height: 182px;
    border: 1px solid #8c9ba0;
    border-right: 2px solid #8c9ba0;
  }
}

.banner-hotel {
  margin-top: 46px;
  border: 1px solid #8c9ba0;
  &__wrapper {
    padding-top: 111px;
    padding-left: 33px;
    padding-right: 31px;
    height: 221px;
    color: #ffffff;
    background-image: url("../images/aerotour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1897aa;
  }
  &__button {
    display: block;
    margin-bottom: 14px;
    padding-top: 9px;
    padding-bottom: 7px;
    border: 1px solid #fff;
    color: #ffffff;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    &:hover {
      background: rgba(117, 151, 165, 0.4);
    }
  }
}

@include media-breakpoint-up(xx) {
  .page-course {
    &__main-content {
      margin-right: 68px;
    }
  }

  .col-costom{
    position: absolute;
    left: calc(100% - 71px);
    top: 0;
  }
}

.books {
  padding: 0;
  padding-bottom: 41px;
  margin-bottom: -53px;
  &__title {
    padding-top: 19px;
    padding-left: 68px;
    color: #4e5c62;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 31.94px;
    font-variant: small-caps;
    letter-spacing: 0.5px;
  }
  &__list {
    padding-top: 44px;
    padding-left: 88px;
    padding-right: 132px;
  }
  &__link-img {
    display: block;
    width: 120px;
    height: 156px;
    img {
      display: block;
    }
  }
  &__item-description {
    padding-left: 23px;
    padding-top: 21px;
  }
  &__title-item {
    color: #000000;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 8px;
    letter-spacing: -0.4px;
  }
  &__price {
    padding-bottom: 8px;
    color: #000000;
    font-family: "Futura Demi C", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.37px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    span {
      text-decoration: line-through;
    }
  }
  &__availability {
    opacity: 0.5;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
  }
  &__basket {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #001eff;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    &:hover {
      color: #ff4005;
    }
  }
  &__wrapper-pay {
    display: flex;
    align-items: center;
  }
  .slick-prev {
    left: -74px;
    
  }
  .slick-next {
    right: -47px;
  }
  .slick-prev,
  .slick-next {
    top: 78px;
  }
  .cart__like {
    padding-top: 3px;
    margin-left: 15px;
  }
}

.scroll-pane-costom {
  .jspVerticalBar {
    width: 17px;
  }

  .jspTrack {
    background-color: #d3dee2;
  }
  .jspDrag {
    border: 1px solid #8c9ba0;
    background-color: #edf2f3;
  }

  .jspArrow {
    position: relative;
    border: 1px solid #8c9ba0;
    background-color: #edf2f3;
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: #8c9ba0;
      border-bottom: none;
    }
  }
  .jspArrowUp {
    &::after {
      transform: rotate(180deg);
    }
  }
  .jspDisabled {
    border: 1px solid rgba(#8c9ba0, 0.6);
    &::after {
      border-top-color: rgba(#8c9ba0, 0.6);
    }
  }
}