a {
    text-decoration: none;
    color: #000
}

.mainline {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 43px;
    color: #4e5c62;
    font-family: "Futura Medium C";
    font-size: 30px;
    font-weight: 400;
    line-height: 31.94px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.border-line {
    margin: 0 auto;
    width: 194px;
    border: 1px solid #86a3ae;
    background-color: #ffffff;
    margin-bottom: 54px;
}

.about-us {
    display: block;
    text-align: center;
    color: #000000;
    font-family: "Futura Book C";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 77px;
}

.previlige {
    background-color: #edf2f3;
}

.we-have {
    color: #4e5c62;
    font-family: "Futura Book C";
    font-size: 30px;
    font-weight: 400;
    font-variant: small-caps;
}

.col-md-5 {
    margin: 0;
}

.bc-image {
    height: 396px;
}

.advantage {
    flex: 40%;
    max-width: 40%;
}

.building {
    flex: 60%;
    max-width: 60%;
}