.newslist {
  padding: 44px 0;

  .personal-main__bottom {
    padding: 0;
  }

  .news__text-link {
    white-space: nowrap;
    display: inline-block;
  }
}

.newslist__item {
  display: flex;
  border: 0.8px solid #86a3ae;
  margin: 0 0 22px;
  background-color: #edf2f3;
}

.newslist__item:last-child {
  margin-bottom: 30px;
}

.newslist__img-link {
  font-size: 0;
  flex-shrink: 0;
}

.newslist__wrapper {
  box-sizing: border-box;
  padding: 12px 5px 12px 20px;
  line-height: 1.2;
}

.newslist__title {
  margin: 5px 0 10px;
  text-transform: uppercase;
  font-weight: 400;

   &::after {
    @include s-title-line;
    width: 154px;
    margin: 10px 0;
  }
}

.newslist__date {
  font-size: 12px;
  font-variant: small-caps;
}

.newslist__excerpt {
  @include s-text;
  display: block;
  margin: 5px 0;
}


