//my variables
$white: #ffffff;
$gray-blue: #4e5c62;
$black: #000000;
$blue: #0030ff;
$orange-hover: #ff4005;

.news {
  &__main-section {
    margin-top: -160px;
    padding-top: 205px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    padding-bottom: 29px;
    color: $gray-blue;
    font-size: 63px;
    line-height: 0.9;
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: 0.025em;
    text-align: center;
  }

  &__subtitle {
    @include s-title;
    margin: 0;
    text-align: center;

    &::after {
      @include s-title-line;
      margin: 32px auto;
    }
  }

  &__btn {
    display: inline-block;
    margin: -5px auto 40px;
    padding: 8px 42px;
    color: $white;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    background-color: $orange;
    border: none;
    transition: 0.2s;
    text-align: center;

    &:hover {
      background: $orange-hover;
    }
  }

  &__bread-crumps {
    margin-top: 20px;
    margin-left: 0;
  }

  &__content {
    padding-top: 50px;
  }

  &__date {
    margin-top: 0;
    text-align: center;
    font-variant: small-caps;
    line-height: 1.2;
  }

  &__img-wrapper {
    width: 503px;
    margin-left: -15px;
  }

  &__text {
    padding-left: 40px;
  }

  &__text p {
    @include s-text;
    letter-spacing: 0.4px;
    text-align: justify;
    margin: 17px 0;
  }

  &__text-link {
    text-decoration: underline;
    color: $blue;
    transition: 0.2s;

    &:hover {
      color: #ff5f10;
    }
  }
}
