a {
    text-decoration: none;
    color: #000
}

.bread-crumps {
    margin-top: 10px;
    margin-left: 14px;
    opacity: 0.6;
    color: #000000;
    font-family: $FuturaBookC;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.4px;
}

.bread-crumps-link1:not(:last-child):after {
    content: '»';
    display: inline-block;
    margin: 0 5px;
}

.col-md-5:nth-child(1)  {
    margin: 0 auto;
}

.headline {
    margin: 0 auto;
    width: 330px;
    height: 23px;
    color: #4e5c62;
    font-family: $FuturaMediumC;
    font-size: 30px;
    font-weight: 400;
    line-height: 31.94px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.main-header {
    margin-top: 47px;
}

.form-section {
    width: 1140px;
    height: 675px;
    background-color: #edf2f3;
    margin: 0 auto;
    margin-top: 41px;
    margin-bottom: 42px;
    padding: 54px 0 0 31px;
}

.contacts-details {
    display: block;
    color: #000000;
    font-family: $FuturaMediumC;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.contacts {
    display: block;
    color: #000000;
    font-family: $FuturaMediumC;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 20.6px;
}

.delivery {
    display: block;
    color: #000000;
    font-family: $FuturaMediumC;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
}

.surname {
    display: block;
    width: 100%;
    padding: 8.6px 0 8.6px 0;
    margin-bottom: 19px;
    border: 1px solid #8c9ba0;
    background-color: #edf2f3;
    color: #8c9ba0;
    padding-left: 15px;
}

.phone {
    display: block;
    width: 100%;
    padding: 8.6px 0 8.6px 0;
    border: 1px solid #8c9ba0;
    background-color: #edf2f3;
    color: #8c9ba0;
    margin-right: 27px;
    padding-left: 15px;
}

.e-mail {
    display: block;
    width: 100%;
    padding: 8.6px 0 8.6px 0;
    margin-right: 50px;
    border: 1px solid #8c9ba0;
    background-color: #edf2f3;
    color: #8c9ba0;
    padding-left: 15px;
}

.law-persons {
    text-decoration: underline;
}

.legal-entity {
    padding: 10px 10px;
    border: 1px solid #8c9ba0;
    background-color: #edf2f3;
}

.filter-checkbox {
    position: relative;
    padding: 1.2px 0 0 41px;
    cursor: pointer;
}

.body-label {
    font-family: $FuturaBookC;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    opacity: 0.9;
    letter-spacing: 0.3px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    list-style: none;
}

input+.checkbox-indicator {
    position: absolute;
    top: -9px;
    left: 1px;
    width: 36px;
    height: 35px;
    background-image: url(../images/square.png);
  }

input:checked+.checkbox-indicator::before,
input:checked+.checkbox-indicator::after {
    content: url(../images/law.png);
    position: absolute;
    bottom: 8px;
    right: 6px;
    width: 23px;
    height: 17px;
    background: none;
}

input[type=checkbox]:checked ~ .checkboxes {
    text-decoration: underline;
}

.paragraph-one {
    font-family: $FuturaBookC;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #000000;
    opacity: 0.9;
    text-decoration: underline;
    margin-bottom: 25px;
}

.paragraph-one {
    font-family: $FuturaBookC;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #000000;
    opacity: 0.9;
}

.paragraph-payment {
    margin: 0;
    margin-top: 9px;
    position: relative;
    padding: 0.7px 0 0 49px;
    cursor: pointer;
    margin-bottom: 36.6px;
}

.col-right {
    margin-left: 30px;
}

.delivery-bill {
    margin: 49px 0 32px 0;
}

.col-md-8 {
    margin-bottom: 47px;
}

.col-md-12 {
    margin: 0 !important;
    margin-bottom: 24px;
}

.col-md-2 {
    margin: 0 auto;
}

.button-offer {
    display: block;
    margin: 0 auto;
    top: 66px;
    left: 247px;
    width: 195px;
    height: 35px;
    background-color: #ff5f10;
    border: none;
    color: #ffffff;
    font-family: $FuturaMediumC;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.button-offer:hover {
    background-color: #ff4005;
    transition: 0.2s;
}

.footer {
    margin-top: 53px;
}

.paragraph-legalperson {
    margin-bottom: 34px;
}

.pagetitle {
    color: #ffffff;
    font-family: $futurademic;
    font-size: 40px;
    font-weight: 400;
    line-height: 57.07px;
    letter-spacing: 0.27px;
}