.personal-header {
  padding: 0;
  padding-bottom: 46px;

  &__title {
    margin-top: -52px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Futura Demi C", Arial, sans-serif;
    font-size: 63px;
    font-weight: 400;
    line-height: 1.2;
    font-variant: small-caps;
    letter-spacing: 1.36px;

    text-align: center;
  }

  &__form {
    margin-left: 35px;
    margin-right: 32px;
    padding-top: 38px;
    padding-bottom: 15px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: rgba(#ffffff, 0.75);
  }

  &__wrapper-text {
    position: relative;

    input {
      margin-bottom: 17px;
      width: 100%;
      padding-left: 13px;
      padding-right: 50px;
      border: 1px solid #8c9ba0;
      min-height: 35px;
      background-color: transparent;
      color: rgba(#000000, 0.6);
      font-family: "Futura Book C", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.3px;
      transition: 0s;
      &:hover {
        border: 1px solid #c4c4c4;
      }
    }
    .svg-loop {
      position: absolute;
      top: 9px;
      right: 14px;
      width: 18px;
      height: 18px;
    }
  }

  &__wrapper-select {
    margin-bottom: 17px;
    &_left {
      margin-right: -15px;
      .selectric {
        .label {
          font-family: "Futura Book C", Arial, sans-serif;
          color: #000000;
        }
      }
    }
    &_right {
      margin-left: -16px;
      .selectric {
        .label {
          font-family: "Futura Book C", Arial, sans-serif;
          color: #000000;
        }
      }
    }
  }

  .selectric {
    .label {
      padding-top: 8px;
      padding-left: 3px;
      color: rgba(#000000, 0.6);
      font-family: "Futura Book C", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.3px;
    }
  }

  &__button-sale {
    padding-top: 7px;
    display: block;
    min-height: 35px;
    border: 1px solid #8c9ba0;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-align: center;
    &:hover {
      background: rgba(117, 151, 165, 0.4);
    }
  }

  &__button-results {
    margin-top: 6px;
    display: block;
    width: 100%;
    border: none;
    min-height: 35px;
    background-color: #96b0bb;
    color: #ffffff;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-align: center;
    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__banner {
    display: flex;
    align-items: flex-start;
    margin-top: 22px;
    margin-left: 35px;
    margin-right: 32px;
    padding-left: 32px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 183px;
    background-color: rgba(#ffffff, 0.85);
    background-image: url("../images/know.png");
    background-repeat: no-repeat;
    background-position: right top;
  }

  &__banner-text {
    padding-top: 10px;
    margin-left: 23px;
    color: #000000;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
}

.personal-main {
  padding: 0;
  padding-top: 52px;
  padding-left: 35px;
  padding-right: 32px;
  padding-bottom: 34px;

  .container {
    position: relative;
  }

  &__list-sort {
    width: 175px;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    position: absolute;
    top: 0;
    right: calc(100% - 39px);
  }

  &__item-sort {
    a {
      display: block;
      color: #96b0bb;
      position: relative;
      padding-left: 26px;
      padding-top: 3px;
      padding-bottom: 4px;
      margin-bottom: -2px;

      font-family: "Futura Book C", Arial, sans-serif;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      font-variant: small-caps;
      letter-spacing: 0.35px;

      &:hover {
        opacity: 0.8;
      }
      &::before {
        content: "";
        // position: absolute;
        float: left;
        margin-top: 6px;
        margin-right: 7px;
  
        width: 4px;
        height: 4px;
        display: block;
        background-color: #96b0bb;
        border-radius: 50%;
      }
    }
    &_active {
      a {
        color: #ffffff;
        background-color: #96b0bb;
        text-decoration: underline;
        &::before {
          background-color: #ffffff;
        }
      }
    }
    
  }

  .lego-result {
    padding-top: 0;

    &__group {
      padding-left: 35px;
      padding-right: 32px;
      margin-bottom: 25px;
    }

    &__item {
      padding-left: 0;
      padding-top: 31px;
      padding-bottom: 14px;
    }

    &__sity-toggle {
      top: 31px;
      right: 38px;
    }
    &__sity-item {
      padding-top: 7px;
      padding-left: 9px;
      padding-right: 9px;
      padding-bottom: 5px;
      border: none;
      border-bottom: 1px solid #8c9ba0;
      margin-left: 0;
      &--current {
        padding-top: 6px;
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid #8c9ba0;
      }
    }
    &__img {
      display: block;
      border: 1px solid #8c9ba0;
    }
    
    &__col-text {
      margin-left: -30px;
    }
    &__status {
      padding-top: 7px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 17px;
    }
    &__text {
      margin-bottom: 10px;
      line-height: 1.2;
      letter-spacing: 0.25px;
    }
    &__dates {
      line-height: 1.2;
    }
    &__old-price {
      margin-top: 7px;
      margin-bottom: 2px;
      margin-left: -15px;
      opacity: 0.4;
      color: #3f4e55;
      font-family: "Futura Medium C", Arial, sans-serif;
      font-size: 19px;
      font-weight: 400;
      line-height: 24.37px;
      text-decoration: line-through;
      letter-spacing: 0.33px;
      .rub {
        letter-spacing: 0.33px;
        font-variant: small-caps;
      }
    }
    &__price {
      margin-left: 11px;
      margin-bottom: 18px;
      letter-spacing: 1.4px;
    }
    &__one-click {
      margin-bottom: 9px;
    }
    &__wrapper-image {
      width: 174px;
      margin-left: 31px;
    }
    &__wrapper-button {
      display: flex;
      margin-top: 10px;
      border: 1px solid #8c9ba0;
    }
    &__button-programm {
      flex-grow: 1;
      position: relative;
      display: block;
      padding-top: 6px;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 3px;
      color: #000000;
      font-family: "Futura Book C", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      &:hover {
        background-color: rgba(117, 151, 165, 0.4);
      }
    }
    &__button-download {
      flex-shrink: 0;
      margin-left: auto;
      width: 33px;
      background-image: url("../images/download-programm.png");
      background-size: 16px 16px;
      background-position: center calc(50% - 2px);
      background-repeat: no-repeat;
      background-color: #55a730;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__bottom {
    display: flex;
    padding-left: 35px;
    padding-right: 32px;
    .personal-main__wrapper-select {
      flex: 0 0 188px;

      .selectric {
        .label {
          padding-top: 13px;
          padding-bottom: 31px;
          color: rgba(#000000, 0.5);
          font-family: "Futura Book C", Arial, sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          letter-spacing: 0.3px;
        }
        .button {
          top: 3px;
          right: 4px;
          &::after {
            content: "";

            border: 0;
            width: 11px;
            height: 6px;
            background-image: url("../images/arrow-show.png");
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
  &__more {
    margin-right: -1px;
    padding-top: 14px;
    padding-bottom: 11px;
    flex-grow: 1;
    border: 1px solid #8c9ba0;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.3px;
    text-align: center;
    &:hover {
      border: 1px solid #DDD;
    }
  }
}

.modal-registr {
  &:not(.modal-video) button {
    min-width: auto;
  }
  .modal-dialog {
    max-width: 496px;
  }
  &__content {
    position: relative;
    width: 496px;
    border: 2px solid #8c9ba0;
    background-color: #ffffff;
    padding-bottom: 25px;
  }

  &__title {
    padding-top: 12px;
    padding-bottom: 8px;
    background-color: #0d465e;
    color: #ffffff;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1.23px;
    text-align: center;
  }
  &__main {
    margin-left: 50px;
    margin-right: 50px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
  }
  &__col-bg {
    flex: 0 0 56.4%;
    max-width: 56.4%;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__col-sm {
    flex: 0 0 43.6%;
    max-width: 43.6%;
    padding-right: 16px;
    padding-left: 16px;
  }
  &__title-course {
    margin-top: 18px;
    margin-bottom: 10px;
    color: #3f4e55;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.47px;
  }
  &__text-course {
    font-size: 16px;
    line-height: 17px;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    text-align: justify;
    margin-bottom: 22px;
    a {
      color: #001eff;
      font-family: "Futura Book C", Arial, sans-serif;
      font-weight: 300;
      text-decoration: underline;
      &:hover {
        color: #ff4005;
      }
    }
  }
  &__old-price {
    margin-top: 17px;
    color: rgba(#3f4e55, 0.4);
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 24.37px;
    text-decoration: line-through;
    letter-spacing: 0.83px;
    text-align: right;
    .rub {
      letter-spacing: 0.33px;
      font-variant: small-caps;
    }
  }
  &__price {
    color: #ff5f10;
    font-family: "Futura Demi C", Arial, sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.06;
    letter-spacing: 1.7px;
    margin-bottom: 14px;
    text-align: right;
    .rub {
      letter-spacing: 0.33px;
      font-variant: small-caps;
    }
  }
  &__wrapper-select {
    padding-bottom: 9px;
  }
  &__select_item {
    margin-bottom: 13px;
  }
  .selectric {
    .label {
      margin-left: 0;
      margin-right: 20px;
      color: #000000;
    }
    .button {
      &::after {
        margin-top: 15px;
        margin-left: 21px;
      }
    }
  }

  &__wrapper-text {
    margin-bottom: 15px;
    input {
      padding-top: 9px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      border: 1px solid #8c9ba0;
      color: rgba(#000000, 0.5);
      font-family: "Futura Book C", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.3px;
      &:hover {
        border: 1px solid #c4c4c4;
      }
    }
  }
  &__wrapper-button {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  &__promo {
    width: 153px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #8c9ba0;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.3px;
    text-align: center;
    display: block;
    background-color: transparent;
    text-transform: uppercase;
    &:hover {
      background-color: rgba(117, 151, 165, 0.4);
    }
  }
  &__submit {
    margin-left: auto;
    width: 153px;
    border: none;
    display: block;
    padding-top: 9px;
    padding-bottom: 7px;
    text-align: center;
    background-color: #ff5f10;
    color: #ffffff;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    &:hover {
      background-color: #ff4005;
    }
  }
}

.modal-programm {
  &:not(.modal-video) button {
    min-width: auto;
  }
  .modal-dialog {
    max-width: 323px;
  }
  &__content {
    position: relative;
    width: 323px;
    padding-bottom: 20px;
    border: 2px solid #8c9ba0;
    background-color: #ffffff;
  }
  &__title {
    padding-top: 12px;
    padding-bottom: 8px;
    background-color: #0d465e;
    color: #ffffff;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1.23px;
    text-align: center;
  }
  &__form {
    padding-left: 19px;
    padding-right: 18px;
    padding-top: 20px;
  }
  &__wrapper-text {
    margin-bottom: 15px;
    input {
      padding-top: 9px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      border: 1px solid #8c9ba0;
      color: rgba(#000000, 0.5);
      font-family: "Futura Book C", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.3px;
      &:hover {
        border: 1px solid #c4c4c4;
      }
    }
  }
  &__wrapper-button {
    width: 153px;
    margin: 0 auto;
    padding-top: 6px;
  }
  &__submit {
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #8c9ba0;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.3px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: transparent;
    &:hover {
      background-color: rgba(117, 151, 165, 0.4);
    }
  }
  &__dawnload {
    margin-top: 12px;
    display: block;
    padding-top: 9px;
    padding-bottom: 7px;
    text-align: center;
    background-color: #ff5f10;
    color: #ffffff;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    &:hover {
      background-color: #ff4005;
    }
  }
}

.modal-table {
  &:not(.modal-video) button {
    min-width: auto;
  }
  .modal-dialog {
    max-width: 1140px;
  }
  &__content {
    position: relative;
    width: 1140px;
    border: 2px solid #8c9ba0;
    background-color: #ffffff;
  }
  &__title {
    padding-top: 11px;
    padding-bottom: 7px;
    background-color: #0d465e;
    color: #ffffff;
    font-family: "Futura Medium C", Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1.65px;
    text-align: center;
  }
  &__main {
    margin-top: -1px;
    margin-bottom: -2px;
    width: calc(100% + 2px);
    margin-left: -1px;
    margin-right: -1px;
    // border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0 1px;

    tr {
      padding-bottom: 1px;
    }

    th {
      color: #000000;
      font-family: "Futura Book C", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0.4px;
    }

    th,
    td {
      position: relative;
      padding: 0;
      border: 1px solid #8c9ba0;
      height: 28px;
      &:first-child {
        padding-left: 14px;
      }
    }
  }
  &__date {
    position: absolute;
    top: 0;
    z-index: 3;

    padding-top: 8px;
    display: block;
    height: 100%;
    background-color: #cee3eb;
    color: #000000;
    font-family: "Futura Light Light", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -1.4px;
    text-align: center;
  }
  
  &__col-first {
    width: 147px;
    height: auto;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.4px;
  }
}

.close-modal {
  position: absolute;
  top: -20px;
  right: -20px;

  width: 14px;
  height: 14px;
  min-width: auto;
  border: none;
  background-color: transparent;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;

    width: 14px;
    height: 3px;
    background-color: #8c9ba0;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}