.tech-item {
    border-bottom: 1px solid #86a3ae;
    padding-bottom: 24px;
    margin-bottom: 10px;
    &__title {
        color: #4e5c62;
        font-family: $FuturaMediumC;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.06;
        text-transform: uppercase;
        // Text style for "Авраменко"
        letter-spacing: 0.4px;
        text-align: center;
        margin-bottom: 30px;
    }
    &__card  {
        background-color: #edf2f3;
        padding: 18px 18px 10px;
        margin-bottom: 39px;
    }
    &__title2 {
        color: #4e5c62;
        font-family: $FuturaMediumC;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.06;
        font-variant: small-caps;
        // Text style for "Сфера проф"
        letter-spacing: 0.4px;
        margin-bottom: 20px;
        &_big {
            &::after {
                @include s-title-line;
                margin: 20px 0 24px;

            }
        }
    }
    &__text {
        color: #000000;
        font-family: $FuturaBookC;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 31px;
        p {
            margin-bottom: 14px;
        }
        ul {
            padding: 0;
        margin: 0;
        
        padding-left: 2px;
        margin-top: 18px;
    
        li {

            display: flex;
            margin-bottom: 5px;


            &:before {
                content: '';
                margin-top: 0.4em;
                width: 5px;
                height: 5px;
                background-color: #003b5e;
                border-radius: 50%;
                flex-shrink: 0;
                margin-right: 14px;

            }
        }
        }

    }
    &__photo {       
        
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-height: 100%;
            border: 11px solid white;
        }
    }
    &__body {        
        margin-top: 15px;
        margin-left: 15px;
    }
}
.lego-result__group-title_teach-item {
    margin-left: 0;
    color: #4e5c62;
    font-family: $FuturaMediumC;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.06;
    font-variant: small-caps;
    // Text style for "Список сем"
    letter-spacing: 0.4px;
    text-transform: none;
    margin-bottom: 28px;
}
.lego-result__img-col {
    @include make-col-ready();
    @include make-col(2.3);
}
.lego-result__main-col {
    @include make-col-ready();
    @include make-col(7);
}
.lego-result__right-col {
    @include make-col-ready();
    @include make-col(2.4);
}
.personal-main__bottom_teach-item {
    padding: 0;
    margin-top: -30px;
}