footer.footer
    .container
        .row.align-items-center.row-1
            .col-md-4 
                a.footer-logo(href='/')
                    img(src='images/footer-logo.png' alt='')
            .col-md-4 
                .soc-list 
                    a.soc-item.soc-item_vk(href='' target="_blank" rel="nofollow")
                        img(src='images/vk.png' alt='')
                    a.soc-item.soc-item_you(href='' target="_blank" rel="nofollow")
                        img(src='images/you.png' alt='')
                    a.soc-item.soc-item_fb(href='' target="_blank" rel="nofollow")
                        img(src='images/fb.png' alt='')
                    a.soc-item.soc-item_inst(href='' target="_blank" rel="nofollow")
                        img(src='images/inst.png' alt='')                                                                        

            .col-md-4          
                a(href='tel:88001000203').footer__tel 8 800 100 02 03
                .footer__tel-label     Звонок бесплатный
        .row.row-2
            .col-md-4
                .footer__title Контакты
                .footer__address. 
                    <b>г. Москва</b>, м.Ботанический сад/м.ВДНХ,<br> ул. Сельскохозяйственная, д.17, к. 5 <br>
                    тел.: 8 495 980 57 28 
                .footer__address.
                    <b>г. Санкт-Петербург</b>, Биржевой переулок, д. 2,<br> литера А, <span style='white-space: nowrap;'>тел.: 8 812 425 34 58</span>
            .col-md-8
                .footer-menu
                    .row
                        .col-md-4
                            .footer__title О школе
                            .footer__menu
                                a.footer__link(href='#') Сведения об образовательной организации
                                a.footer__link(href='#') Преподаватели
                                a.footer__link(href='#') Сотрудничество
                        .col-md-4
                            .footer__title кЛИЕНТАМ
                            .footer__menu
                                a.footer__link(href='#') Скидки и акции
                                a.footer__link(href='#') Подарочные сертификаты
                                a.footer__link(href='#') Постоянным клиентам
                        .col-md-4.text-md-right
                            .footer__title Система ЭДО
                            a.diadoc(href='' target="_blank" rel="nofollow")
                                img(src='images/diadoc.png' alt='')
        .footer__region мы в регионах
        .row.row-3
            .col-md-6
                //.footer__map. 
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abea91b929932bb4b277150370409a9e8e8a5eabc094bea6eafcedd932a47a8a2&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
            .col-md-6
                //.footer__map. 
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afba61b9cbe2cfa74420a4cb175a89e504d3d72c9e9ccd206c7583a2f31c7e3da&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
        .row.align-items-center.row-4
            .col-md-8.footer__pay-col
                .footer__pay оплата
                .pay-list 
                    img.pay-item(src='images/p1.png')
                    img.pay-item(src='images/p2.png')
                    img.pay-item(src='images/p3.png')
                    img.pay-item(src='images/p4.png')
                    img.pay-item(src='images/p5.png')
                    img.pay-item(src='images/p6.png')
                    img.pay-item(src='images/p7.png')
            .col-md-4 
                .footer__license Лицензия на образовательную деятельность № 029045
        .row.row-5
            .col-md-8 
                .footer__danger Все содержание курсов обучения, семинаров, тренингов, представленных на сайте www.uprav.ru, является уникальным и принадлежит РШУ. 
            .col-md-4 
                a.footer__spda(href='#') Политика обработки персональных данных
.copyright 
    .container © Русская Школа Управления, 2002-2018. Все права защищены и охраняются законом.

include scripts.pug
