.header-wrap
    header.header
        .container
            .header__row
                .header__col 
                    a.header__logo(href='/')
                        img(src='images/logo.svg' alt='')
                        | Русская <br>
                        | Школа<br>
                        | Управления
                .header__col
                    .header__slogan 
                        .header__slogan-big Учебный центр
                        div Лидер на рынке<br> бизнес-образования
                .header__col
                    .header__citis
                        .header__city-item.header__city-item--active мОСКВА
                        .header__city-item сАНКТ-пЕТЕРБУРГ 
                .header__col
                    .header__search 
                        input(placeholder='Поиск').header__search-input 
                .header__col
                    a(href='#').header__lk Личный кабинет
                .header__col    
                    .header__cart 
                        img(src='images/cart-small.svg' alt='')
                        .header__cart-num 2
                .header__col
                     .header__contacts 
                        .header__contacts-tel 8 800 100 02 03
                        .header__contacts-time Пн.-Пт.:  9.00–19.00
    nav.top-menu 
        .container
            .top-menu__row
                .top-menu__item            
                    a.top-menu__link.top-menu__link--caret(href="#") О школе
                    .top-menu__drop-level
                        .top-menu__drop-item 
                            a(href='#').top-menu__drop-link PR директор
                        .top-menu__drop-item 
                            a(href='#').top-menu__drop-link Главный бухгалтер
                        .top-menu__drop-item 
                            a(href='#').top-menu__drop-link Директор по персоналу
                        .top-menu__drop-item 
                            a(href='#').top-menu__drop-link Директор по закупкам 
                        .top-menu__drop-item 
                            a(href='#').top-menu__drop-link Директор по логистике                                                           
                .top-menu__item 
                    a.top-menu__link(href="#") Директорские курсы
                .top-menu__item 
                    a.top-menu__link(href="#") Профессиональные курсы
                .top-menu__item 
                    a.top-menu__link(href="#") Тренинги и семинары
                .top-menu__item 
                    a.top-menu__link(href="#") Корпоративное обучение
                .top-menu__item 
                    a.top-menu__link(href="#") Госзаказы
                .top-menu__item 
                    a.top-menu__link(href="#") условия обучения
                .top-menu__item 
                    a.top-menu__link(href="#") Контакты   





// хедер конец


















































