.header-wrap {
    position: relative;
    z-index: 5;
}
.header {
    background-color: rgba(#000, 0.38);
    padding: 31px 0 21px;
}
.header__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: space-between;
}
.header__col {
    padding: 0 10px;
    flex-shrink: 0;
    
}
.header__logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 15px;   
    font-variant: small-caps;
    // Text style for "Управления"
    letter-spacing: 0.71px;
    margin-top: -10px;
    line-height: 1.1;
    img {
        width: 60px;
        height: 60px;
        margin-right: 11px;
        display: block;
        flex-shrink: 0;
    }
   
}
.header__slogan  {
    font-family: $FuturaBookC;
    font-weight: 400;
    color: #00eaff;
    font-size: 10px;
    line-height: 1.5;
    text-transform: uppercase;
    // Text style for "Лидер на р"
    letter-spacing: 0.24px;
    margin-top: -6px;
}
.header__slogan-big {
    font-weight: bold;
    font-size: 15px;    
    font-variant: small-caps;
    text-transform: none;
    line-height: 1.4;
    div {
        line-height: 1.6;
        margin-top: -1px;
    }
}
.header__city-item {
    // Style for "мОСКВА сАН"
    font-family: $FuturaMediumC;
    font-weight: 400;
    color: #ffffff;
    font-size: 10px;
    line-height: 1.1;
    text-transform: uppercase;
    // Text style for "мОСКВА"
    letter-spacing: 0.53px; 
    margin-bottom: 6px;
}
.header__city-item--active {
    text-decoration: underline;
    position: relative;
    &:before {
        width: 8px;
        height: 11px;
        content: '';
        display: inline-block;
        position: absolute;
        left: -13px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/pin.png);
        background-size: cover;
    }
}
.header__search-input  {
    border: 1px solid #c4c4c4;
    font-family: $FuturaBookC;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    line-height: 1;
    // Text style for "Поиск"
   padding: 6px 15px;
   width: 100%;
    letter-spacing: 0.3px;
    background: transparent;
    min-width: 230px;
    &::placeholder {
        color: #bcbbbc;
    }
}
.header__lk {
    border: 1px solid #c4c4c4;
    // Style for "Личный каб"
    font-family: $FuturaBookC;
    font-weight: 400;
    color: #bcbbbc;
    
    font-size: 13px;
    line-height: 1;
    // Text style for "Личный каб"
    color: #bcbbbc;
    letter-spacing: 0.3px;  
    padding: 7px 15px;
    padding-right: 40px;
    display: block;
    transition: 0.2s;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
}
.header__cart  {
    width: 17px;
    height: 17px;
    position: relative;
}
.header__cart-num {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #ff0000;
    line-height: 17px;
    min-width: 25px;
    border-radius: 10px;
    text-align: center;

    // Style for "2"
    font-family: $FuturaMediumC;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;    
    text-transform: uppercase;
    // Text style for "2,"
    letter-spacing: 0.65px;
}
.header__contacts  {
    text-align: right;
}
.header__contacts-tel {
    // Style for "8 800 100"
    font-family: $FuturaMediumC;
    font-weight: 400;
    color: #fffffe;
    font-size: 20px;
    line-height: 0.85;
    text-transform: uppercase;
    // Text style for "8 800 100"
    letter-spacing: 0.49px;
    margin-bottom: 8px;
}
.header__contacts-time {
        // Style for "Пн.-Пт.:"
    font-family: $FuturaBookC;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    
    // Text style for "Пн.-Пт.:"
    letter-spacing: 0.3px;
}
