include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/bemto.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Условия обучения')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.main-section--owl.pb-0.header-section(style='background-image: url(images/main.jpg)')
      .container
        .main-section__usl-title Условия обучения
             
    +b.SECTION.haw 
      .container 
        +e.title Как стать участником обучения
        .row.justify-content-end
          .col-md-5
            +e.item
              +e.item-title
                +e.item-num._first 1.
                | <span>Зарегистрироваться на сайте</span> или<br> <span>по телефону 8 800 100 02 03</span> (звонок бесплатный по России)
              +e.text В течение дня после регистрации на указанный вами<br> электронный адрес придет счет. Оплата счета считается<br> акцептом (присоединением) Заказчика к Договору на оказание образовательных услуг:
          .col-md-5 
            +e.item._right
              +e.item-title
                +e.item-num 2.
                | <span>Оплатите участие по выставленному вам<br> счету</span> и ознакомьтесь с условиями договора
              +e.UL.list
                li 
                  a(href="#") 1. Договор присоединения на оказание образовательных услуг физическому лицу
                li 
                  a(href="#") 2. Договор присоединения на оказание образовательных услуг работникам юридического лица
                li 
                  a(href="#") 3. Договор о дистанционном оказании образовательных услуг
              +e.text._agreement *Согласование и подписание Договора присоединения обеими сторонами, согласно действующему законодательству, не требуется.
        +e.bottom <div><span>В связи с ограниченным количеством мест в группах рекомендуем</span> вам своевременно оплачивать счет и <span>подтверждать вашу регистрацию как можно раньше</span>, позвонив в офис Школы по телефону 8 800 100 02 03 и сообщив номер платежного поручения и сумму платежа.</div>

    +b.SECTION.payment
      .container
        +e.title Как оплатить обучение
        +e.text Участники могут оплатить обучение наличным и безналичным расчетом или через систему электронных платежей. Рекомендуем оплачивать обучение заранее, так как число участников ограничено.
        .row
          .col-md-3
            +e.item._one
              +e.item-title Оплата наличными
              +e.item-text возможна в офисах Москвы и Санкт-Петербурга
          .col-md-3
            +e.item._two
              +e.item-title Безналичная оплата
              +e.item-text производится по банковским реквизитам Школы на основании полученного счета. В платежном поручении в графе «Назначение платежа» обязательно укажите номер счета и наименование семинара. Если представители вашей организации участвуют в нескольких мероприятиях, стоимость их обучения может быть перечислена единым платежом.
          .col-md-3
            +e.item._three
              +e.item-title Пластиковые карты
              +e.item-text Visa, MasterCard Совесть, МИР. Безопасность платежей обеспечивается на основе современных протоколов и технологий, разработанных международными платежными системами VISA International и MasterCard International (3DSecure, UCAF, SecureCode). Срок перечисления средств – не позднее 3 рабочих дней от даты обработки банком авторизации операций.
          .col-md-3
            +e.item._four
              +e.item-title Рассрочка и кредит
              +e.item-text Visa, MasterCard Совесть, МИР. Безопасность платежей обеспечивается на основе современных протоколов и технологий, разработанных международными платежными
        +e.text._bottom По всем вопросам, связанным с порядком и условиями оплаты, обращайтесь к сотрудникам Школы.

    +b.SECTION.requirements
      .container
        +e.title Есть ли какие-то требования к участникам обучения
        +e.text Курсы Русской Школы Управления рассчитаны на руководителей среднего и высшего звена, а также любых специалистов, желающих повысить свой профессиональный уровень. 
        +e.text Для обучения не требуется никаких дополнительных документов об уровне образования. Однако мы просим учесть, что «Директорские курсы» предполагают, что участники обладают минимальными знаниями по предмету и опытом работы в руководящей должности. 
        +e.text Обращаем внимание, что в соответствии с законодательством РФ, для получения документа о повышении квалификации установленного государством образца необходимо иметь диплом о высшем профессиональном образовании.

    +b.SECTION.location
      .container
        .row.justify-content-end
          .col-md-6
            +e.wrapper-content
              +e.title Где проходит обучение
              +e.text Офисы Русской Школы Управления находятся <br> <span>в Москве, Санкт-Петербурге</span> и 
                +e.A.link 10 городах России. 
              +e.A.button Все адреса школы

    +b.SECTION.time
      .container
        +e.title В какое время проводятся занятия
        .row
          .col-md-3
            +e.item
              +e.item-title._one 8.30-9.00
              +e.item-text._one В 1-й день Регистрация <br>и выдача раздаточных материалов
          .col-md-3
            +e.item
              +e.item-title._two 9.00-16.15
              +e.item-text._two Ежедневно обучение
          .col-md-3
            +e.item
              +e.item-title._three 45 минут
              +e.item-text._three Один обед
          .col-md-3
            +e.item
              +e.item-title._four 15 минут
              +e.item-text._four Кофе-паузы <br>в течение рабочего дня
        +e.bottom С 16:30 часов, в дополнение к обязательной программе семинаров, в Школе часто проводятся дополнительные вечерние занятия. <br> Мы советуем уточнять эту информацию у менеджеров.

    +b.SECTION.additionally
      .container
        .row
          .col-md-6
            +e.wrapper-content
              +e.title Какие дополнительные возможности предоставляет РШУ
              +e.epigraph Во время занятий вы можете получить индивидуальную консультацию преподавателя.
              +e.text Для этого необходимо (не позднее, чем за 3 рабочих дня до даты начала обучения) направить четко сформулированный вопрос по теме по <br> электронной почте вашему менеджеру.
              +e.text._second Не забудьте указать название и дату проведения программы, а также ваше Ф.И.О. (полностью), должность и название организации. Ваши вопросы будут переданы преподавателям программы, и вы получите ответы в процессе обучения. Вопросы принимаются только от слушателей, заранее оплативших участие в программе. Если вы хотите получить индивидуальную консультацию, заранее сообщите об этом вашему менеджеру.

    +b.SECTION.price
      .container
        +e.title Сколько стоит обучение
        +e.text Стоимость обучения зависит от формата курса обучения, его продолжительности, а также предоставляемых льгот. В стоимость входит обучение, консультации, комплект материалов, кофе-паузы, документ об окончании курса. Регистрационный взнос за участие одного слушателя указан в программе каждого мероприятия. НДС не облагается согласно пп.14 п.2 ст.149 гл.21 НК РФ.
        +e.text._second
          | <span>Следите за специальными предложениями</span>
          | на сайте Школы, чтобы не упустить возможность обучаться с выгодой.
        +e.wrapper-button
          +e.A.button Следить за акциями

    +b.SECTION.fixed-sale
      .container
        +e.title  Постоянные скидки<span class="fixed-sale__star">*</span>
        +e.items
          .row 
            .col-md-3 
              +e.item 
                +e.price -15<span class="fixed-sale__percent">%</span>
                +e.name «Дальновидная»
                +e.text при предоплате<br> за 30 и более дней
            .col-md-3 
              +e.item 
                +e.price -20<span class="fixed-sale__percent">%</span>
                +e.name «На повторную покупку»
                +e.text на другой курс в течение 90 дней со&#160;дня обучения**
            .col-md-3 
              +e.item 
                +e.price -25<span class="fixed-sale__percent">%</span>
                +e.name «Групповая»
                +e.text за обучение 2-х и более<br> участников
            .col-md-3 
              +e.item 
                +e.price -30<span class="fixed-sale__percent">%</span>
                +e.name Выпускникам Mini MBA РШУ
                +e.text выпускникам Mini МВА и компаниям,&#160;оплатившим их обучение  
              
        +e.small.
          * Скидки не суммируются и не распространяются на другие акции и предложения. При условии действия двух постоянных скидок, применяется большая скидка. <br>

          ** Не распространяется на постоянных клиентов.

    +b.SECTION.special
      .container 
        .row.justify-content-end
          .col-md-5 
            +e.item._odd
              +e.title Особые условия <br>для постоянных клиентов
              +e.wrapper-text
                +e.price -30<span class="special__percent">%</span>
                +e.cost при предоплате
                +e.usl на другой курс в течение 90 дней со дня обучения
          .col-md-4 
            +e.item
              +e.title._sale Дополнительная <br> скидка
              +e.wrapper-text
                +e.price -15<span class="special__percent">%</span>
                +e.cost от 500 000 руб.
                +e.usl при общей сумме за текущий год, действует в течение года

        +e.text Скидки действуют только при предоплате, не суммируются и не распространяются на другие акции и предложения. <br> <span>При условии действия двух скидок, применяется большая скидка.</span>

    +b.SECTION.documents
      .container
        +e.title Какие документы выдаются после обучения
        +e.list
          +e.title-list._member Для участника:
          .row.justify-content-center
            .col-md-3
              +e.item
                +e.title-item._line Диплом о профессиональной переподготовке установленного государством образца
                +e.text-item по итогам обучения на программах профессиональной переподготовки от 250 часов
            .col-md-3
              +e.item
                +e.title-item._line Удостоверение о повышении квалификации установленного государством образца
                +e.text-item по итогам обучения на программах повышения квалификации от 16 часов до 250 часов
            .col-md-3
              +e.item
                +e.title-item._line Удостоверение о краткосрочном обучении установленного государством образца
                +e.text-item по итогам обучения на краткосрочных программах до 16 часов
            .col-md-3
              +e.item
                +e.title-item._line Удостоверение о повышении квалификации установленного государством образца
                +e.text-item по итогам дистанционного обучения<br>на программе повышения<br>квалификации от 16 до 250 часов
        +e.list
          +e.title-list._bookkeeping Для бухгалтерии:
          .row.justify-content-center
            .col-md-3
              +e.item._bookkeeping
                +e.title-item УПД <br> (Универсальный передаточный документ), утвержденный Письмом Минфина РФ от 5 марта 2014 г. <br> N ГД-4-3/3987
            .col-md-3
              +e.item._bookkeeping
                +e.title-item Оригинал счета

    +b.SECTION.plans
      .container
        .row
          .col-md-6
            +e.title Что делать, если планы <br> на обучение изменились
            +e.text Если вы зарегистрировались и оплатили свое участие, но вынуждены в связи с изменившимися обстоятельствами отказаться от участия в данной программе или перенести сроки обучения, то вы должны <span>сообщить об этом по почте своему менеджеру или по адресу <span class="plans__mail">uprav@uprav.ru</span></span>.
            +e.text._second <span>В случае переноса обучения проводится оформление разового переноса</span> или замена участника обучения по вашему выбору на другие сроки или на равнозначную программу, проводимую РШУ <span>в другие сроки в течение 6 месяцев</span> с момента переноса обучения.
            +e.text <span>Вы вправе отказаться от программы обучения</span> в одностороннем порядке. При письменном сообщении об отказе от участия в программе <span>не менее чем за 5 календарных дней до проведения программы</span>, Школа гарантирует возврат регистрационного взноса. При отказе менее чем за 5 календарных дней до проведения Программы, деньги не возвращаются. В случае несвоевременного предупреждения о невозможности присутствия на обучение возврат регистрационного взноса не производится.
            +e.A.link Условия возврата

    include pug/footer.pug