include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/bemto.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Реклама')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.main-section--owl.pb-0.header-section(style='background-image: url(images/main.jpg)')
      .container
        .main-section__usl-title Условия обучения
             
    +b.SECTION.haw 
      .container 
        +e.title Как стать участником обучения
        .row.justify-content-end
          .col-md-5
            +e.item
              +e.item-title
                +e.item-num._first 1.
                | <span>Зарегистрироваться на сайте</span> или<br> <span>по телефону 8 800 100 02 03</span> (звонок бесплатный по России)
              +e.text В течение дня после регистрации на указанный вами<br> электронный адрес придет счет. Оплата счета считается<br> акцептом (присоединением) Заказчика к Договору на оказание образовательных услуг:
          .col-md-5 
            +e.item._right
              +e.item-title
                +e.item-num 2.
                | <span>Оплатите участие по выставленному вам<br> счету</span> и ознакомьтесь с условиями договора
              +e.UL.list
                li 
                  a(href="#") 1. Договор присоединения на оказание образовательных услуг физическому лицу
                li 
                  a(href="#") 2. Договор присоединения на оказание образовательных услуг работникам юридического лица
                li 
                  a(href="#") 3. Договор о дистанционном оказании образовательных услуг
              +e.text._agreement *Согласование и подписание Договора присоединения обеими сторонами, согласно действующему законодательству, не требуется.
        +e.bottom <div><span>В связи с ограниченным количеством мест в группах рекомендуем</span> вам своевременно оплачивать счет и <span>подтверждать вашу регистрацию как можно раньше</span>, позвонив в офис Школы по телефону 8 800 100 02 03 и сообщив номер платежного поручения и сумму платежа.</div>

    +b.SECTION.payment
      .container
        +e.title Как оплатить обучение
        +e.text Участники могут оплатить обучение наличным и безналичным расчетом или через систему электронных платежей. Рекомендуем оплачивать обучение заранее, так как число участников ограничено.
        .row
          .col-md-3
            +e.item._one
              +e.item-title Оплата наличными
              +e.item-text возможна в офисах Москвы и Санкт-Петербурга
          .col-md-3
            +e.item._two
              +e.item-title Безналичная оплата
              +e.item-text производится по банковским реквизитам Школы на основании полученного счета. В платежном поручении в графе «Назначение платежа» обязательно укажите номер счета и наименование семинара. Если представители вашей организации участвуют в нескольких мероприятиях, стоимость их обучения может быть перечислена единым платежом.
          .col-md-3
            +e.item._three
              +e.item-title Пластиковые карты
              +e.item-text Visa, MasterCard Совесть, МИР. Безопасность платежей обеспечивается на основе современных протоколов и технологий, разработанных международными платежными системами VISA International и MasterCard International (3DSecure, UCAF, SecureCode). Срок перечисления средств – не позднее 3 рабочих дней от даты обработки банком авторизации операций.
          .col-md-3
            +e.item._four
              +e.item-title Рассрочка и кредит
              +e.item-text Visa, MasterCard Совесть, МИР. Безопасность платежей обеспечивается на основе современных протоколов и технологий, разработанных международными платежными
        +e.text._bottom По всем вопросам, связанным с порядком и условиями оплаты, обращайтесь к сотрудникам Школы.

    +b.SECTION.requirements
      .container
        +e.title Есть ли какие-то требования к участникам обучения
        +e.text Курсы Русской Школы Управления рассчитаны на руководителей среднего и высшего звена, а также любых специалистов, желающих повысить свой профессиональный уровень. 
        +e.text Для обучения не требуется никаких дополнительных документов об уровне образования. Однако мы просим учесть, что «Директорские курсы» предполагают, что участники обладают минимальными знаниями по предмету и опытом работы в руководящей должности. 
        +e.text Обращаем внимание, что в соответствии с законодательством РФ, для получения документа о повышении квалификации установленного государством образца необходимо иметь диплом о высшем профессиональном образовании.

    +b.SECTION.location
      .container
        .row.justify-content-end
          .col-md-6
            +e.wrapper-content
              +e.title Где проходит обучение
              +e.text Офисы Русской Школы Управления находятся <br> <span>в Москве, Санкт-Петербурге</span> и 
                +e.A.link 10 городах России. 

    include pug/footer.pug