include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/bemto.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Карточка курса')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.main-section--course.pb-0.header-section(style='background-image: url(images/main.jpg)')

    +b.course-bread-crumps
      .container
          .row
            .col-md-12
              div.bread-crumps
                a.bread-crumps-link1(href='#') 
                  | Главная
                a.bread-crumps-link1(href='#') 
                  | Хлебные крошки
                a.bread-crumps-link1
                  | Директорские курсы

    +b.page-course
      .container
        .row
          .col-9.col-xx-12
            +e.main-content
              +b.SECTION.course
                .row.justify-content-between
                  .col-7.col-xx-7
                    +e.wrapper-title
                      +e.title Курс «Директор по маркетингу»
                      +e.time Время проведения: ДНЕВНОЕ + ВЕЧЕРНЕЕ (9.00–19.30)
                  .col
                    +b.rating
                      +e.wrapper-rating
                        +e.rating-title Рейтинг курса
                        +e.rating-listen 355 прослушали
                      +e.rating-value <b>4,9</b> из 5
                +e.wrapper-description
                  +e.description
                    +e.image-description
                      img(src="images/directors-course.jpg" alt="")
                    +e.content-description
                      +e.wrapper-nav
                        ul.nav.nav-tabs(role="tablist")
                          li.nav-item
                            a.nav-link.active(data-toggle='tab', href='#course1', role='tab') Очно
                          li.nav-item
                            a.nav-link(data-toggle='tab', href='#course2', role='tab') Дистанционно
                          li.nav-item
                            a.nav-link(data-toggle='tab', href='#course3', role='tab') Трансляция

                      .tab-content
                        .tab-pane.fade.active.show#course1(role="tabpanel")
                          +e.tab-day 5 ДНЕЙ
                          +e.tab-title Описание курса:
                          +e.tab-text Как быть, если маркетинг и продажи не единое целое в компании? Сколько стоит Ваше ONLINE и OFFLINE продвижение? И есть ли оно у Вас? Куда и как осваивать новые рынки? Это и другие вопросы часто задают участники, проходящие курс Директор по маркетингу. За 5 дней Вы получите максимально полную информацию о стратегии и тактики, об инструментах продвижения, о выводе продукта на рынки.  Теорий может быть множество и обо всех можно почитать в книгах. В реалиях - только опыт и практика дадут Вам наиболее точные и эффективные инструменты работы службы маркетинга. Весь арсенал наиболее важных компетенций Директора по маркетингу вы можете найти в программе.
                        .tab-pane.fade#course2(role="tabpanel") 2
                        .tab-pane.fade#course3(role="tabpanel") 3
                      
                  +e.programms
                    +e.header-programms
                      +e.A.programms-title Программа семинара
                      +e.A.programms-button._download Скачать
                      +e.A.programms-button._print Печатать
                    +e.programms-content
                      +e.BUTTON.button-expand._expand 
                        +svg('arrow-expand')
                        |развернуть все
                      +e.BUTTON.button-expand._collapse 
                        +svg('arrow-expand')
                        |свернуть все
                      +e.UL.programms-list
                        +e.LI.programms-item
                          | HR-стратегия компании. Аудит. Аналитика. Автоматизация бизнес-процессов.
                          +e.UL.programms-sublist
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                        +e.LI.programms-item
                          | Бюджетирование затрат на персонал. 
                          +e.UL.programms-sublist
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                        +e.LI.programms-item
                          | Разработка моделей компетенции. Оргнизация системы найма и адаптации персонала. Оценка при подборе.
                          +e.UL.programms-sublist
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                        +e.LI.programms-item
                          | Профессиональные стандарты: особенности внедрения и применения. Лучшие практики.
                          +e.UL.programms-sublist
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                        +e.LI.programms-item
                          | Место оценки в системе развития персонала. Ассессмент-центр. Кадровый резерв.
                          +e.UL.programms-sublist
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                        +e.LI.programms-item
                          | Развитие потенциала сотрудника. Тalent-management. Управление знаниями. 
                          +e.UL.programms-sublist
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                        +e.LI.programms-item
                          | Управление эффективностью сотрудников. Материальная и нематериальная мотивация.
                          +e.UL.programms-sublist
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                        +e.LI.programms-item
                          | Практикум по разработке KPI. 
                          +e.UL.programms-sublist
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                        +e.LI.programms-item
                          | Управление изменениями при работе с персоналом.
                          +e.UL.programms-sublist
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                            +e.LI.programms-subitem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia?
                        +e.LI.programms-item
                          | HR-маркетинг. Создание  и продвижение HR-бренда. Профессиональный внутренний и внешний PR. 
                          +e.UL.programms-sublist
                            +e.LI.programms-subitem Сущность и принципы маркетинга персонала. Маркетинговые исследования и маркетинговая информация в области персонала.
                            +e.LI.programms-subitem Виды, содержание, способы получения и обработки маркетинговой информации.
                            +e.LI.programms-subitem Оценка эффективности каналов коммуникации в маркетинге персонала.
                            +e.LI.programms-subitem Анализ внутренней и внешней среды деятельности организации по управлению человеческими ресурсами.
                            +e.LI.programms-subitem HR-практики и инструменты по работе с внешней и внутренней аудиторией компании;  приоритетные внешние и внутренние коммуникационные каналы в зависимости от целей и характеристик бренда.
                            +e.LI.programms-subitem Позиционирование бренда «сильного и привлекательного» работодателя.
                            +e.LI.programms-subitem Технология и инструментарий digital-продвижение HR-бренда.
                            +e.LI.programms-subitem Формирование имиджа и управление репутацией.
                            +e.LI.programms-subitem Работа над личным брендом первых лиц.
                            +e.LI.programms-subitem Влияние имиджа работодателя на рынке труда на корпоративный имидж компании и качество привлекаемых соискателей.
                            +e.LI.programms-subitem Методика создания ценностного предложения EVP, коммуникационная стратегия для этого предложения.
                            +e.LI.programms-subitem Оценка команды и на основе полученных данных формирование эффективной программы для повышения лояльности персонала и рекомендаций по снижению затрат на HR.
                    
                    +e.about-course 
                      +e.about-title Для кого этот курс:
                      +e.UL.about-list
                        li начальникам отдела кадров;
                        li сотрудникам кадровых служб;
                        li HR-менеджерам;
                        li начальникам отделов, занимающихся управлением персоналом.

                  +e.equipment
                    +e.wrapper-nav
                      ul.nav.nav-tabs(role="tablist")
                        li.nav-item
                          a.nav-link.active(data-toggle='tab', href='#equipment1', role='tab') В стоимость входит
                        li.nav-item
                          a.nav-link(data-toggle='tab', href='#equipment2', role='tab') Процесс обучения
                        li.nav-item
                          a.nav-link(data-toggle='tab', href='#equipment3', role='tab') Преподаватели
                        li.nav-item
                          a.nav-link(data-toggle='tab', href='#equipment4', role='tab') Отзывы

                    .tab-content
                      .tab-pane.fade.active.show#equipment1(role="tabpanel")
                        +e.incost-list
                          .row
                            .col-md-3
                              +e.incost-item._certificate Удостоверение о <br> повышении квалификации
                            .col-md-3
                              +e.incost-item._bonus Бонусы и подарки <br> от партнеров
                            .col-md-3
                              +e.incost-item._folder Учебный материал <br> в фирменной папке РШУ
                            .col-md-3
                              +e.incost-item._cofee Вкусные <br> кофе-брейки
                      .tab-pane.fade#equipment2(role="tabpanel") 2
                      .tab-pane.fade#equipment3(role="tabpanel") 3
                      .tab-pane.fade#equipment4(role="tabpanel") 4

              section.lego-result.lego-result_course-page
                .lego-result__group 
                  .lego-result__group-title.lego-result__group-title Сопутствующие курсы
                  .lego-result__list
                    .lego-result__item 
                      .lego-result__sity-toggle
                        a(href='').lego-result__sity-item Москва
                        a(href='').lego-result__sity-item Санкт-Петербург
                        a(href='').lego-result__sity-item.lego-result__sity-item--current Екатеринбург
                      .row 
                        .col-md-2 
                          a(href='#')
                            img(src='http://placehold.it/157x136' alt='').lego-result__img
                        .col-md-7 
                          .lego-result__status очно (5 дней)
                          a(href='#').lego-result__name Главный бухгалтер
                          .lego-result__text Текст текст текст, текст текст, текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текст,  текст текст, текст текст, текст текст, текст текст... 
                          .lego-result__dates Продолжительность: 12 дней (90 часов)
                        .col-md-3  
                          .lego-result__price-col 
                            .lego-result__old-price 55.000 <span class='rub'>руб.</span>
                            .lego-result__price 45.000 <span class='rub'>руб.</span>
                            a(href='#').lego-result__one-click Подробнее
                    .lego-result__item 
                      .lego-result__sity-toggle
                        a(href='').lego-result__sity-item Москва
                        a(href='').lego-result__sity-item Санкт-Петербург
                        a(href='').lego-result__sity-item.lego-result__sity-item--current Екатеринбург
                      .row 
                        .col-md-2 
                          a(href='#')
                            img(src='http://placehold.it/157x136' alt='').lego-result__img
                        .col-md-7 
                          .lego-result__status онлайн (5 дней)
                          a(href='#').lego-result__name Юрист
                          .lego-result__text Текст текст текст, текст текст, текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текст,  текст текст, текст текст, текст текст, текст текст... 
                          .lego-result__dates Продолжительность: 12 дней (90 часов)
                        .col-md-3  
                          .lego-result__price-col 
                            .lego-result__old-price 52.000 <span class='rub'>руб.</span>
                            .lego-result__price 41.000 <span class='rub'>руб.</span>
                            a(href='#').lego-result__one-click Подробнее
                    .lego-result__item 
                      .lego-result__sity-toggle
                        a(href='').lego-result__sity-item Москва
                        a(href='').lego-result__sity-item Санкт-Петербург
                        a(href='').lego-result__sity-item.lego-result__sity-item--current Екатеринбург
                      .row 
                        .col-md-2 
                          a(href='#')
                            img(src='http://placehold.it/157x136' alt='').lego-result__img
                        .col-md-7 
                          .lego-result__status ОНЛАЙН (10 дней - модули по 5 дней с перерывом)
                          a(href='#').lego-result__name ДИРЕКТОР ПО ЛОГИСТИКЕ
                          .lego-result__text Текст текст текст, текст текст, текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текст,  текст текст, текст текст, текст текст, текст текст... 
                          .lego-result__dates Продолжительность: 12 дней (90 часов)
                        .col-md-3  
                          .lego-result__price-col 
                            .lego-result__old-price 45.000 <span class='rub'>руб.</span>
                            .lego-result__price 35.000 <span class='rub'>руб.</span>
                            a(href='#').lego-result__one-click Подробнее

          .col-3.col-costom
            +b.SECTION.banner
              +b.salary.__item
                +e.salary-top Уровень зарплаты специалистов <br> по данным HendHanter
                +e.salaty-bottom
                  <p> Средний: 42.000-45.000 <span class="salary__rub">руб.</span> </p>
                  <p> <b>После обучения: 55.000-62.000 <span class="salary__rub">руб.</span></b> </p>
              +b.course-registry.__item
                +e.title Регистрация на курс
                +e.wrapper
                  +e.old-price Цена: 199.850 <span class="course-registry__rub">руб.</span>
                  +e.price 149.850 <span class="course-registry__rub course-registry__rub_new">руб</span>.
                  +e.form
                    form
                      +e.form-title Выберите скидку:
                      +e.LABEL.checkbox._sale-one(for="sale-15")
                        input(type="checkbox" id="sale-15" checked).visually-hidden
                        span -15% при оплате<br> до 00.00.2018
                      +e.LABEL.checkbox._sale-two(for="sale-25")
                        input(type="checkbox" id="sale-25").visually-hidden
                        span -25% за двух и более участников
                      +e.wrapper-quantity
                        +e.LABEL.radio(for="quantity-1")
                          input(type="radio" name="quantity" value="2" id="quantity-1" checked="").visually-hidden
                          span 2
                        +e.LABEL.radio(for="quantity-2")
                          input(type="radio" name="quantity" value="3" id="quantity-2").visually-hidden
                          span 3
                        +e.LABEL.radio(for="quantity-3")
                          input(type="radio" name="quantity" value="4" id="quantity-3").visually-hidden
                          span 4
                        +e.LABEL.radio(for="quantity-4")
                          input(type="radio" name="quantity" value="5" id="quantity-4").visually-hidden
                          span 5
                        +e.LABEL.radio(for="quantity-5")
                          input(type="radio" name="quantity" value="6+" id="quantity-5").visually-hidden
                          span 6+
                      +e.wrapper-select
                        +e.select_item
                          select.js-select
                            option Санкт-Петербург
                            option Санкт-Петербург
                            option Санкт-Петербург
                            option Санкт-Петербург
                        +e.select_item
                          select.js-select
                            option Выбрать дату
                            option Выбрать дату
                            option Выбрать дату
                            option Выбрать дату

                      +e.credit
                        +e.credit-title 4.900 р./мес.
                        +e.credit-text **в рассрочку по карте
                        +e.wrapper-sponsor
                          img(src="images/halva.png", alt="Карта Халва" width="69" height="12")
                          img(src="images/sovest.png", alt="Карта совесть" width="73" height="24")

                      .text-center
                        button(type='submit').course-registry__button Регистрация
              +b.banner-map.__item
                +e.title Место проведения:
                +e.text г.Москва, ул.Новомосковская, д.25, корпус 2, 2 этаж, офис 205
                +e.wrapper-map
                  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afba61b9cbe2cfa74420a4cb175a89e504d3d72c9e9ccd206c7583a2f31c7e3da&amp;width=calc(100%-1px)&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>

              +b.banner-hotel.__item
                +e.wrapper
                  +e.A.button Заказать гостиницу
                  +e.A.button Бронировать билет

    +b.SECTION.books
      .container
        +e.title Рекомендуемые книги:
        +e.list
          .row
            .col-md-2
              +e.books-item
                +e.A(href="#").link-img
                  img(src="images/book1.png", alt="")
                +e.item-description
                  +e.price 600 <span>р</span>
                  +e.title-item «Проихождение», Дэн Браун
                  +e.availability В наличии
                  +e.wrapper-pay
                    +e.A.basket В корзину
                    a.cart__like.cart__like_active(href='#')
                      +svg('like-empty')
                      +svg('like-full')
            .col-md-2
              +e.books-item
                +e.A(href="#").link-img
                  img(src="images/book2.png", alt="")
                +e.item-description
                  +e.price 600 <span>р</span>
                  +e.title-item «Проихождение», Дэн Браун
                  +e.availability В наличии
                  +e.wrapper-pay
                    +e.A.basket В корзину
                    a.cart__like(href='#')
                      +svg('like-empty')
                      +svg('like-full')
            .col-md-2
              +e.books-item
                +e.A(href="#").link-img
                  img(src="images/book3.png", alt="")
                +e.item-description
                  +e.price 1300 <span>р</span>
                  +e.title-item «Проихождение», Дэн Браун
                  +e.availability В наличии
                  +e.wrapper-pay
                    +e.A.basket В корзину
                    a.cart__like.cart__like_active(href='#')
                      +svg('like-empty')
                      +svg('like-full')
            .col-md-2
              +e.books-item
                +e.A(href="#").link-img
                  img(src="images/book4.png", alt="")
                +e.item-description
                  +e.price 850 <span>р</span>
                  +e.title-item «Проихождение», Дэн Браун
                  +e.availability В наличии
                  +e.wrapper-pay
                    +e.A.basket В корзину
                    a.cart__like(href='#')
                      +svg('like-empty')
                      +svg('like-full')
            .col-md-2
              +e.books-item
                +e.A(href="#").link-img
                  img(src="images/book5.png", alt="")
                +e.item-description
                  +e.price 600 <span>р</span>
                  +e.title-item «Проихождение», Дэн Браун
                  +e.availability В наличии
                  +e.wrapper-pay
                    +e.A.basket В корзину
                    a.cart__like(href='#')
                      +svg('like-empty')
                      +svg('like-full')
            .col-md-2
              +e.books-item
                +e.A(href="#").link-img
                  img(src="images/book2.png", alt="")
                +e.item-description
                  +e.price 600
                  +e.title-item «Проихождение», Дэн Браун
                  +e.availability В наличии
                  +e.wrapper-pay
                    +e.A.basket В корзину
                    a.cart__like(href='#')
                      +svg('like-empty')
                      +svg('like-full')
            .col-md-2
              +e.books-item
                +e.A(href="#").link-img
                  img(src="images/book3.png", alt="")
                +e.item-description
                  +e.price 1300
                  +e.title-item «Проихождение», Дэн Браун
                  +e.availability В наличии
                  +e.wrapper-pay
                    +e.A.basket В корзину
                    a.cart__like.cart__like_active(href='#')
                      +svg('like-empty')
                      +svg('like-full')

    include pug/footer.pug