include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/bemto.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Условия обучения')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.main-section--course.pb-0.header-section(style='background-image: url(images/main.jpg)')

    +b.course-bread-crumps
      .container
          .row
            .col-md-12
              div.bread-crumps
                a.bread-crumps-link1(href='#') 
                  | Главная
                a.bread-crumps-link1(href='#') 
                  | Хлебные крошки
                a.bread-crumps-link1
                  | Директорские курсы

    +b.page-course
      .container
        .row
          .col-9.col-xx-12
            +e.main-content
              +b.SECTION.course
                .row.justify-content-between
                  .col-6.col-xx-7
                    +e.wrapper-title
                      +e.title Курс «Директор по маркетингу»
                      +e.time Время проведения: ДНЕВНОЕ + ВЕЧЕРНЕЕ (9.00–19.30)
                  .col
                    +b.rating
                      +e.wrapper-rating
                        +e.rating-title Рейтинг курса
                        +e.rating-listen 355 прослушали
                      +e.rating-value <b>4,9</b> из 5
                +e.content
          .col-3.col-costom
            +b.SECTION.banner
              +b.salary.__item
                +e.salary-top Уровень зарплаты специалистов <br> по данным HendHanter
                +e.salaty-bottom
                  <p> Средний: 42.000-45.000 <span class="salary__rub">руб.</span> </p>
                  <p> <b>После обучения: 55.000-62.000 <span class="salary__rub">руб.</span></b> </p>
              +b.course-registry.__item
                +e.title Регистрация на курс
                +e.wrapper
                  +e.old-price Цена: 199.850 <span class="course-registry__rub">руб.</span>
                  +e.price 149.850 <span class="course-registry__rub course-registry__rub_new">руб</span>.
                  +e.form
                    form
                      +e.form-title Выберите скидку:
                      +e.LABEL.checkbox(for="sale-15")
                        input(type="checkbox" id="sale-15").visually-hidden
                        span -15% при оплате<br> до 00.00.2018
                      +e.LABEL.checkbox(for="sale-25")
                        input(type="checkbox" id="sale-25").visually-hidden
                        span -25% за двух и более участников

                      +e.wrapper-select
                        +e.select_item
                          select.js-select
                            option Санкт-Петербург
                            option Санкт-Петербург
                            option Санкт-Петербург
                            option Санкт-Петербург
                        +e.select_item
                          select.js-select
                            option Выбрать дату
                            option Выбрать дату
                            option Выбрать дату
                            option Выбрать дату

                      +e.credit
                        +e.credit-title 4.900 р./мес.
                        +e.credit-text **в рассрочку по карте
                        +e.wrapper-sponsor
                          img(src="images/halva.png", alt="Карта Халва" width="69" height="12")
                          img(src="images/sovest.png", alt="Карта совесть" width="73" height="24")

                      .text-center
                        button(type='submit').course-registry__button Регистрация

    include pug/footer.pug