include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Главная')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.pb-0.header-section(style='background-image: url(images/header-image.jpg)')
      .container.formheader
        .row.booking-form
          .col-md-6
          .col-md-6.text
            p.header-submitted
              | Нам доверяют.
            a.submite(href='request')
              | Оставить заявку
            p.our-number
              | или позвоните нам по номеру
            p.number
              | 8 800 100 02 03


    div.one-section
      .container.major-text
        .row
          .col-md-12
            h1.main-line Государственный заказ
            .col-md-12
              p.border-line
          .col-md-12
            span.about-us Русская Школа Управления уже 8 лет успешно реализует образовательный проекты в рамках государственных и муниципальных закупок по Ф3-44 и Ф3-223
    div.previlige
      .row.variety
        .advantage
          span.we-have 
            |У нас есть все, чтобы на высшем уровне
            br
            | выполнить любой государственный заказ:
          p.border-line-adv
          .catalog
            ul.catalog-style
              li 
                span.inner-color Лицензия на образовательную деятельность
              li 
                span.inner-color Опытные преподаватели
              li 
                span.inner-color Огромная база программ
              li 
                span.inner-color Возможность работать в любой точке России
        .image-section-one
          img.bc-image-build(src='images/gosbuilding.jpg' alt="здание")
    div.two-section
      .container-edge
        .row
          .col-md-4.advantages-one
            h3.header-advantages-one 8 лет
            p.privilege-paragraph Опыта гособучения
          .col-md-4.advantages-one
            h3.header-advantages-one 1
              span.spacing-style 
                | 000+
            p.privilege-paragraph обученных госслужащих
          .col-md-4.advantages-one
            h3.header-advantages-one 600
            p.privilege-paragraph-programm программ обучения
          .col-md-4.advantages-two
            h3.header-advantages 300
            p.privilege-paragraph-teachers
              |преподавателей
              br
              |-практиков
          .col-md-4.advantages-two
            h3.header-advantages 80
            p.privilege-paragraph-one реализованных госконтрактов
          .col-md-4.advantages-two
            h3.header-advantages-cities 12
            p.privilege-paragraph-one
              | городов
              br
              | России
        div.one-section
    div.previlige
      .row.no-gutters
        .image-section-two
          img.bc-image(src='images/keyboard-1.jpg' alt="клавиатура")
        .advantage-two
          span.we-have 
            | Оставить заявку:
          p.border-line-adv
          p.paragraph-for-order
            | Вы можете оставить заявку на предварительный расчет
            br
            | минимальной стоимости контракта
          form.pattern
            .row
              div.form-order
                input.input-order(name='surname', placeholder='ФИО', type='text')
              div.form-order
                input.input-order(name='E-mail', placeholder='E-mail', type='text')
              div.form-order
                input.input-order(name='phone', placeholder='Телефон', type='text')
              button.button-order(form='main-form' type='submit' value='')
                | Отправить
          p.offer-call Или позвоните нам по номеру  
            span.phone-number 
              |8 800 100 02 03
    .container
      .cotracts-cont
        p.our-contrarts| Исполненные контракты
        p.border-line-cnt
      .companies-row
        .stanchion
          div.column-companies
            p.client
              span.warden Заказчик: 
              | Комитет по жилищно-коммунальному хозяйству Ленинградской области
            p.date-contraction
              | Дата заключения: 29.05.2018
              | Срок исполнения: 20.12.2018
            p.requisites
              | Реквизиты заказа: 0145200000418000392
            p.border-line-cmp
            p.costs
              | Сумма: 
              span.costs-style
                  | 400 000
              span.rubles-style
                  | р
          div.column-companies
            p.client
              span.warden Заказчик: 
              | Комитет по жилищно-коммунальному хозяйству Ленинградской области
            p.date-contraction
              | Дата заключения: 29.05.2018
              | Срок исполнения: 20.12.2018
            p.requisites
              | Реквизиты заказа: 0145200000418000392
            p.border-line-cmp
            p.costs
              | Сумма: 
              span.costs-style
                  | 400 000
              span.rubles-style
                  | р
          div.column-companies
            p.client
              span.warden Заказчик: 
              | Комитет по жилищно-коммунальному хозяйству Ленинградской области
            p.date-contraction
              | Дата заключения: 29.05.2018
              | Срок исполнения: 20.12.2018
            p.requisites
              | Реквизиты заказа: 0145200000418000392
            p.border-line-cmp
            p.costs
              | Сумма: 
              span.costs-style
                  | 400 000
              span.rubles-style
                  | р
          div.column-companies
            p.client
              span.warden Заказчик: 
              | Комитет по жилищно-коммунальному хозяйству Ленинградской области
            p.date-contraction
              | Дата заключения: 29.05.2018
              | Срок исполнения: 20.12.2018
            p.requisites
              | Реквизиты заказа: 0145200000418000392
            p.border-line-cmp
            p.costs
              | Сумма: 
              span.costs-style
                  | 400 000
              span.rubles-style
                  | р
          div.column-companies
            p.client
              span.warden Заказчик: 
              | Комитет по жилищно-коммунальному хозяйству Ленинградской области
            p.date-contraction
              | Дата заключения: 29.05.2018
              | Срок исполнения: 20.12.2018
            p.requisites
              | Реквизиты заказа: 0145200000418000392
            p.border-line-cmp
            p.costs
              | Сумма: 
              span.costs-style
                  | 400 000
              span.rubles-style
                  | р


                  
    include pug/footer.pug