include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Главная')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.pb-0(style='background-image: url(images/header-image.jpg)')

    div.one-section
      .container
        .row
          .col-md-12
            h1.mainline Государственный заказ
            .col-md-12
              p.border-line
          .col-md-12
            span.about-us Русская Школа Управления уже 8 лет успешно реализует образовательный проекты в рамках государственных и муниципальных закупок по Ф3-44 и Ф3-233
    div.previlige
      .row
        .advantage
          span.we-have 
            |У нас есть все, чтобы на высшем уровне
            br
            | выполнить любой государственный заказ:
          p.border-line-adv
          .catalog
            ul.catalog-style
              li 
                span.inner-color Лицензия на образовательную деятельность
              li 
                span.inner-color Опытные преподаватели
              li 
                span.inner-color Огромная база программ
              li 
                span.inner-color Возможность работать в любой точке России
        .building
          img.bc-image(src='images/gosbuilding.jpg' alt="здание")
    div.two-section
      .container
        .row
          .div.advantages
            h3.header-adavantages 8 Лет
            p.fist-paragraph Опыта гособучения
          .div.advantages
            h3.header-adavantages 1000+
            p.fist-paragraph обученных госслужащих
          .div.advantages
            h3.header-adavantages 600
            p.fist-paragraph программ обучения
          .div.advantages
            h3.header-adavantages 300
            p.fist-paragraph преподователь-практиков
          .div.advantages
            h3.header-adavantages 80
            p.fist-paragraph реализованных госконтрактов
          .div.advantages
            h3.header-adavantages 12
            p.fist-paragraph городов России


                  
    include pug/footer.pug