doctype html
html
  head
    title Your site's title should be here
    meta(charset='UTF-8')
    meta(name='description', content="Your site's description should be here")
    meta(name='keywords', content="Your site's keywords should be here")
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    //if IE 6
      style(type='text/css').
        * html .group {
        height: 1%;
        }
    //if IE 7
      style(type='text/css').
        *:first-child+html .group {
        min-height: 1px;
        }
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
  body
    .layer-0
    .col-19
      .wrapper-2
        .pryamougolnik-3
        .fon-pod-plitkami-holder
          .plitki
            .pryamougolnik-6-kopiya-7
            .tekst-v-plitkah
              img.sloi-46(src='images/sloi_46.png', alt='')
              p.text Директорские курсы
              .row-17.clearfix
                .col-39
                  .row-40.clearfix
                    .col-56
                      img.sloi-32(src='images/sloi_32.png', alt='')
                      p.text-2 Общее управление (25)
                    .col
                      img.vektornyi-smart-obekt(src='images/vektornyi_smart-obekt_6.png', alt='')
                      p.text-3
                        | Стратегия Проекты
                        br.text-style
                        | Инновации (29)
                  .row-42.clearfix
                    .col-58
                      img.sloi-34(src='images/sloi_34.png', alt='')
                      p.text-4 Право (86)
                    .col-3
                      img.sloi-36(src='images/sloi_36.png', alt='')
                      p.text-5 Безопастность (32)
                  .row-43.clearfix
                    .col-59
                      img.vektornyi-smart-obekt-2(src='images/vektornyi_smart-obekt_8.png', alt='')
                      p.text-6 Процессы и качество (21)
                    .col-4
                      img.vektornyi-smart-obekt-3(src='images/vektornyi_smart-obekt_9.png', alt='')
                      p.text-7 Производство (25)
                  .row-45.clearfix
                    .col-61
                      img.vektornyi-smart-obekt-4(src='images/vektornyi_smart-obekt_2.png', alt='')
                      p.text-8 ВЭД (16)
                    .col-6
                      img.vektornyi-smart-obekt-5(src='images/vektornyi_smart-obekt_3.png', alt='')
                      p.text-9 Логистика Снабжение (21)
                  .row-47.clearfix
                    .col-63
                      img.sloi-48(src='images/sloi_48.png', alt='')
                      p.text-10 ЖКХ (23)
                    .col-8
                      img.vektornyi-smart-obekt-6(src='images/vektornyi_smart-obekt_11.png', alt='')
                      p.text-11
                        | Коммерческая
                        br.text-style
                        | недвижимость (19)
                  .row-37.clearfix
                    .col-50
                      img.sloi-53(src='images/sloi_53.png', alt='')
                      p.text-12
                        | Индустрия обучения
                        br.text-style
                        | и развития (18)
                    .col-51
                      img.vektornyi-smart-obekt-7(src='images/vektornyi_smart-obekt_5.png', alt='')
                      p.text-13
                        | Личность
                        br.text-style
                        | Коммуникации (104)
                .col-40.clearfix
                  .row-41.clearfix
                    .col-2
                      img.vektornyi-smart-obekt-8(src='images/vektornyi_smart-obekt.png', alt='')
                      p.text-14
                        | Финансы Экономика
                        br.text-style
                        | Бухгалтерия (39)
                    .col-57
                      img.sloi-33(src='images/sloi_33.png', alt='')
                      p.text-15 Персонал (71)
                  .row-49.clearfix
                    .pryamougolnik-6-kopiya-19-holder
                      .col-10
                        img.prodazha(src='images/prodazha.png', alt='')
                        p.text-16 Продажи (27)
                    .col-65
                      img.sloi-37(src='images/sloi_37.png', alt='')
                      p.text-17 Маркетинг (26)
                  .row-44.clearfix
                    .col-5
                      img.vektornyi-smart-obekt-9(src='images/vektornyi_smart-obekt_7.png', alt='')
                      p.text-18 ИТ (16)
                    .col-60
                      img.sloi-41(src='images/sloi_41.png', alt='')
                      p.text-19 PR и Реклама (14)
                  .row-46.clearfix
                    .col-7
                      img.sloi-43(src='images/sloi_43.png', alt='')
                      p.text-20 Конкурсы Тендеры (20)
                    .col-62
                      img.vektornyi-smart-obekt-10(src='images/vektornyi_smart-obekt_10.png', alt='')
                      p.text-21 Строительство Девелопмент (36)
                  .row-48.clearfix
                    .col-9
                      img.sloi-52(src='images/sloi_52.png', alt='')
                      p.text-22 Торговля Ритейл (26)
                    .col-64
                      img.sloi-45(src='images/sloi_45.png', alt='')
                      p.text-23 Сфера услуг (22)
                  .row-38.clearfix
                    .col-52
                      img.sloi-54(src='images/sloi_54.png', alt='')
                      p.text-24 Офис АХО Сервис (29)
                    .col-53
                      img.vektornyi-smart-obekt-11(src='images/vektornyi_smart-obekt_4.png', alt='')
                      p.text-25 Аналитика (15)
            .pryamougolnik-6-kopiya-11
            .pryamougolnik-6-kopiya-15
            .pryamougolnik-6-kopiya-21
            .pryamougolnik-6-kopiya-25
            .pryamougolnik-6-kopiya-28
            .pryamougolnik-6-kopiya-31
            .pryamougolnik-6-kopiya-26
            .pryamougolnik-6-kopiya-33
            .pryamougolnik-6-kopiya-35
            .pryamougolnik-6-kopiya-36
            .pryamougolnik-6-kopiya-37
            .pryamougolnik-6-kopiya-39
            .pryamougolnik-6-kopiya-38
            .pryamougolnik-6-kopiya-18
        .pryamougolnik-1-kopiya-4-holder
          .biznes-treningi
            p.text-26 Бизнес-тренинги, бизнес-семинары
            p.text-27
              a(href='#') Выберите семинары и тренинги по направлениям
            img.treugolnik-kopiya(src='images/treugolnik_kopiya.png', alt='')
        .shapka
          .pryamougolnik-1-kopiya-holder
            .pryamougolnik-1-kopiya-3-holder-wrapper
              .row
                .col-md-2.col-sm-3.col-xs-6.col-md-offset-4.col-xs-offset-3
                  p.text-28
                    a.text-style-3(href='#') мОСКВА
                    br.text-style-2
                    | сАНКТ-пЕТЕРБУРГ
          .kalendar-raskrytyi-variant
            .pryamougolnik-3-kopiya-3-holder
              img.sloi-50-kopiya(src='images/sloi_50_kopiya.png', alt='')
            .wrapper-13
              img.pryamougolnik-3-kopiya-4(src='images/pryamougolnik_3_kopiya_4.png', alt='')
              img.pryamougolnik-3-kopiya-5(src='images/pryamougolnik_3_kopiya_5.png', alt='')
              img.pryamougolnik-3-kopiya-6(src='images/pryamougolnik_3_kopiya_4.png', alt='')
              img.pryamougolnik-3-kopiya-7(src='images/pryamougolnik_3_kopiya_7.png', alt='')
              img.pryamougolnik-3-kopiya-8(src='images/pryamougolnik_3_kopiya_8.png', alt='')
              .pryamougolnik-3-kopiya-9-holder
                img.text-29(src='images/image.png', alt='«', title='«')
              p.text-30
                | 15 авг
                br.text-style-4
                | 16 авг
                br.text-style-4
                | 17 авг
                br.text-style-4
                | 18 авг
                br.text-style-4
                | 19 авг
              p.text-31 День открытых дверей
          .kalendar
            img.kalendar-ne-aktiv(src='images/kalendar_ne_aktiv.png', alt='')
          .video
            .col-11
              p.text-32 Почему РШУ?
              img.vektornyi-smart-obekt-12(src='images/vektornyi_smart-obekt_12.png', alt='')
          .menu
            .row-13.clearfix
              img.vektornyi-smart-obekt-13(src='images/vektornyi_smart-obekt_14.png', alt='')
              .col-46
                p.russkaya Русская
                p.shkola Школа
                p.upravleniya Управления
              .col-47
                p.text-33 Учебный центр
                p.text-34
                  | Лидер на рынке
                  br.text-style-2
                  | бизнес-образования
              img.ellips-1(src='images/ellips_1.png', alt='')
              .col-42
                p.text-37 8 800 100 02 03
                p.text-38 Пн.-Пт.:  9.00–19.00
              .col-41
                .pryamougolnik-skrugl-ugly-1-holder
                  | 2
                img.vektornyi-smart-obekt-14(src='images/vektornyi_smart-obekt_13.png', alt='')
              .pryamougolnik-2-kopiya-holder
                | Личный кабинет
              .pryamougolnik-2-holder
                | Поиск
            .wrapper-15
              .vypadashka-menu
                .figura-1-kopiya-holder
                  .text-39
                    p PR директор
                p.text-40 Главный бухгалтер
                .figura-1-kopiya-3-holder
                  .text-41
                    p
                      | Директор
                      br.text-style-2
                      | по персоналу
                .figura-1-kopiya-4-holder
                  .text-42
                    p
                      | Директор
                      br.text-style-2
                      | по закупкам
                p.text-43
                  | Директор
                  br.text-style-2
                  | по логистике
              .menu-2.clearfix
                p.text-44 О школе
                p.kontakty Контакты
                p.text-49
                  | условия
                  br.text-style-2
                  | обучения
                p.goszakazy Госзаказы
                p.text-48
                  | Корпоративное
                  br.text-style-2
                  | обучение
                img.pryamougolnik-16-kopiya-10(src='images/pryamougolnik_16_kopiya_1.png', alt='')
                p.text-47
                  | Тренинги и
                  br.text-style-2
                  | семинары
                p.text-46
                  | Профессиональные
                  br.text-style-2
                  | курсы
                img.pryamougolnik-16-kopiya-7(src='images/pryamougolnik_16_kopiya_1.png', alt='')
                p.text-45
                  | Директорские
                  br.text-style-2
                  | курсы
              .ramka-aktiv
          .podpisatsya
            img.pismo-ne-aktiv-80(src='images/pismo_ne_aktiv_80.png', alt='')
            p.podpisatsya-2 Подписаться
          .konsultaciya
            img.trubka-ne-aktiv-80(src='images/trubka_ne_aktiv_80.png', alt='')
            p.konsultaciya-2 консультация
          .palec-vverh
            img.palec-vverh-ne-aktiv(src='images/palec_vverh_ne_aktiv.png', alt='')
          .pryamougolnik-10-holder
            .col-12
              .pryamougolnik-2-kopiya-2-holder
                p.fio-ne-aktiv-70 ФИО
              .pryamougolnik-2-kopiya-3-holder
                p.telefon-ne-aktiv Телефон
              .pryamougolnik-2-kopiya-4-holder
                p.poluch-bespl-konsultaciu-ne-aktiv Получить бесплатную консультацию
          .wrapper
            .row-3.clearfix
              p.podobrat-kurs-aktiv-100 Подобрать курс
              img.treugolnik-podobrat-kurs(src='images/treugolnik_podobrat_kurs.png', alt='')
      .klienty-prepody-otzyvy.clearfix
        .col-24
          img.sloi-72(src='images/sloi_72.png', alt='')
          p.text-50 Наши клиенты
        .cvet-pri-aktive
          img.aktivnyi-vid(src='images/aktivnyi_vid.png', alt='')
          p.prepodavateli Преподаватели
          p.text-51 Адшгрыдлваор ЛИРдшгва дшгргш лдтгым,ждгш ывдлгшнва, швагрплрва , тшы
        .col-20
          img.sloi-74(src='images/sloi_74.png', alt='')
          p.otzyvy Отзывы
          p.text-52 Адшгрыдлваор ЛИРдшгва дшгргш лдтгым,ждгш ывдлгшнва, швагрплрва
      .formaty-obucheniya.clearfix
        .row-9.clearfix
          p.text-53 Очная форма
          .col-33
            .wrapper-39
              p.f Ф
              p.text-54 Форматы обучения
            .row-24.clearfix
              p.distancionnaya Дистанционная
              p.text-55 Онлайн-трансляция
              p.text-56 Другая форма
        .row-3-2.no-space-between-inline-blocks.clearfix
          .pryamougolnik-7
          .pryamougolnik-7-kopiya
          img.pryamougolnik-7-kopiya-2(src='images/pryamougolnik_7_kopiya_2.jpg', alt='')
          .pryamougolnik-7-kopiya-3
        .row-8.clearfix
          .col-29
            p.text-57
              | Текст текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст,
            .cvet-aktiv-knopki-v-effekte-holder
              | Подробнее
          .col-30
            p.text-59
              | Текст текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст
            .pryamougolnik-7-kopiya-9-holder
              | Подробнее
          .col-31
            p.text-60
              | Текст текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст,
            .pryamougolnik-7-kopiya-11-holder
              | Подробнее
          .col-32
            p.text-62
              | Текст текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст, текст текст,
            .pryamougolnik-7-kopiya-12-holder
              | Подробнее
      .ikonki-preimushestva
        .gruppa-26.clearfix
          .col-25
            .row-14.no-space-between-inline-blocks.clearfix
              img.sloi-66(src='images/sloi_66.png', alt='')
              img.sloi-67(src='images/sloi_67.png', alt='')
              img.sloi-69(src='images/sloi_69.png', alt='')
            .row-15.no-space-between-inline-blocks.clearfix
              p.text-64
                | Для российских
                br.text-style
                | компаний
              p.text-65
                | Профессиональный
                br.text-style
                | фокус
              p.text-66
                | Высокий стандарт
                br.text-style
                | качества
          .col-26.clearfix
            img.sloi-68(src='images/sloi_68.png', alt='')
            p.text-67
              | Выбор форматов
              br.text-style
              | обучения
          .col-27
            img.sloi-70(src='images/sloi_70.png', alt='')
            p.text-68
              | Более 2000
              br.text-style
              | отзывов
          .col-28
            img.sloi-71(src='images/sloi_71.png', alt='')
            p.text-69
              | Без отрыва
              br.text-style
              | от работы
      .novosti
        .wrapper-6
          p.n Н
          p.text-70 наши Новости
        .row-19.clearfix
          .wrapper-37
            .col-14
              p.text-71 10 августа 2018 / в Москве
              p.text-72 фотоКонкурс «учусь в ршу!»
              p.text-73
                | Текст текст текст, текст текст, текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текст,  текст текст, текст текст, текст текст, текст текст... 
                span.color0000ff  >>
            .pryamougolnik-22-kopiya-11-holder
              img.text-74(src='images/1.png', alt='1', title='1')
          img.pryamougolnik-8-kopiya(src='images/pryamougolnik_8_kopiya_3.jpg', alt='')
        .row-18.clearfix
          .wrapper-36
            .col-13
              p.text-75 14 августа 2018 / в Москве
              p.text-76 СЕМИНАР ПО ЮРИДИЧЕСКОМУ ПРАВУ
              p.text-77
                | Текст текст текст, текст текст, текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текс текст текст, текст текст, текст текст, текст текст...  
                span.color0000ff >>
            .pryamougolnik-22-kopiya-9-holder
              p.text-78 2
          img.pryamougolnik-8-kopiya-2(src='images/pryamougolnik_8_kopiya_2.jpg', alt='')
        .row-20.clearfix
          .wrapper-38
            .col-15
              p.text-79 20 августа 2018 / в Москве
              p.text-80 Конференция по управлению персоналом
              p.text-81
                | Текст текст текст, текст текст, текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текс, текст текст, текст текст, текст текст, текст текст...  
                span.color0000ff >>
            .pryamougolnik-22-kopiya-13-holder
              p.text-82 3
          img.pryamougolnik-8-kopiya-3(src='images/pryamougolnik_8_kopiya.jpg', alt='')
        .pryamougolnik-7-kopiya-8-holder
          | ВСЕ НОВОСТИ
      .klienty
        .wrapper-5
          p.k К
          p.text-84 наши клиенты
        .row-2-2.clearfix
          p.text-85 <
          img.sloi-75(src='images/sloi_75.png', alt='')
          img.sloi-78(src='images/sloi_78.png', alt='')
          img.sloi-79(src='images/sloi_79.png', alt='')
          img.sloi-76(src='images/sloi_76.png', alt='')
          img.sloi-77(src='images/sloi_77.png', alt='')
          p.text-86 <
      .otzyvy-2.clearfix
        .wrapper-3
          p.o О
          p.otzyvy-3 отзывы
        .row-7.clearfix
          p.text-87 <
          .pryamougolnik-22-kopiya-17-holder
            img.otzyv-gruppa-kompanii-sibproekt(src='images/otzyv_gruppa_kompanii_sib.jpg', alt='')
          .wrapper-19
            .pri-aktive-budet-ramka-holder
              img.otzyv-rn-smazochnye-materialy-dekabr(src='images/otzyv_rn-smazochnye_mater.jpg', alt='')
          .pryamougolnik-22-kopiya-18-holder
            img.otzyv-ip-dallari-r-o(src='images/otzyv_ip_dallari_r_o.jpg', alt='')
          .pryamougolnik-22-kopiya-19-holder
            img.otzyv-rn-smazochnye-materialy-fevral(src='images/otzyv_rn-smazochnye_mater_2.jpg', alt='')
          p.text-88 <
      .podval.clearfix
        .col-21
          .row-12.clearfix
            .col-38
              .row-32.clearfix
                img.vektornyi-smart-obekt-kopiya(src='images/vektornyi_smart-obekt_kop.png', alt='')
                .col-44
                  p.text-89 Русская
                  p.text-90 Школа
                  p.text-91 Управления
              p.kontakty-2 Контакты
              .text-92
                p
                  span.font-futurademic г. Москва,
                  |  м.Ботанический сад/м.ВДНХ, ул. Сельскохозяйственная, д.17, к. 5
                p.text-style-5 тел.: 8 495 980 57 28
              p.text-93
                span.font-futurademic г. Санкт-Петербург
                | , Биржевой переулок, д. 2, литера А, тел.: 8 812 425 34 58
              p.text-94
                a(href='#') мы в регионах
            .col-36
              .row-34.clearfix
                .vb-aktivnyi-variant-lezhit-v-effekte-holder
                  img.sloi-10(src='images/sloi_10.png', alt='')
                .utub-aktivnyi-variant-lezhit-v-effekte-holder
                  img.sloi-9(src='images/sloi_9.png', alt='')
                .f-aktivnyi-variant-lezhit-v-effekte-holder
                  img.facebook(src='images/facebook.png', alt='')
                .google-background-holder
                  img.sloi-8(src='images/sloi_8.png', alt='')
                .col-45
                  p.text-95 8 800 100 02 03
                  p.text-96 Звонок бесплатный
              .row-31.clearfix
                .col-54
                  p.text-97 О школе
                  .text-98
                    p Сведения об образовательной организации
                    p.text-style-6 Преподаватели
                    p.text-style-6 Сотрудничество
                .col-55
                  p.klientam кЛИЕНТАМ
                  .text-99
                    p.text-style-7
                      a.text-style-3(href='#') Скидки и акции
                    p Подарочные сертификаты
                    p Постоянным клиентам
                .col-43
                  p.text-100 Система ЭДО
                  .pryamougolnik-13-holder
                    img.sloi-4(src='images/sloi_4.png', alt='')
          .row-11.clearfix
            .col-34
              .wrapper-40
                .pryamougolnik-9-kopiya-3-holder
                  img.sloi-2(src='images/sloi_2.png', alt='')
                .pryamougolnik-15-holder
                  p.moskva Москва
                .pryamougolnik-12
              .row-25.clearfix
                p.oplata оплата
                img.viza(src='images/viza.png', alt='')
                img.sloi-7(src='images/sloi_7.png', alt='')
                img.masterkard(src='images/masterkard.png', alt='')
                img.sloi-81-kopiya(src='images/sloi_81_kopiya.png', alt='')
                img.mir(src='images/mir.png', alt='')
                img.sloi-6(src='images/sloi_6.png', alt='')
            .col-35.clearfix
              .wrapper-41
                .pryamougolnik-9-kopiya-7-holder
                  img.sloi-53-kopiya(src='images/sloi_53_kopiya.png', alt='')
                .pryamougolnik-15-kopiya-holder
                  p.text-101 Санкт-Петербург
                .pryamougolnik-12-kopiya
              .row-26.clearfix
                img.sloi-5(src='images/sloi_5.png', alt='')
                p.text-102 Лицензия на образовательную деятельность № 029045
          .row-4.clearfix
            p.text-103
              | Все содержание курсов обучения, семинаров, тренингов, представленных на сайте 
              span.text-style-8 www.uprav.ru
              | , является уникальным и принадлежит РШУ.
            p.text-104
              a(href='#') Политика обработки персональных данных
        .pryamougolnik-22-kopiya-24-holder-wrapper
          .row
            .col-md-4.col-xs-12.col-md-offset-2
              p.text-105 © Русская Школа Управления, 2002-2018. Все права защищены и охраняются законом.
