include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/bemto.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title("Следите за новостями РШУ")
    include pug/styles.pug
    meta(http-equiv="Cache-Control", content="public")

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    +b.news
      +e.SECTION.main-section.pb-0(style="background-image: url(images/cat.jpg)")
        .main-section__left-bar
          .main-section__left-item
            img(src='images/like.png' alt='')
          .main-section__left-item.main-section__left-item--mb
            img(src='images/calendar.png' alt='')
          .main-section__left-item
            img(src='images/calendar-white.png' alt='')
          .main-section__left-day 15 авг
            .main-section__left-hidden День открытых дверей
          .main-section__left-day 16 авг
            .main-section__left-hidden День открытых дверей
          .main-section__left-day 17 авг
            .main-section__left-hidden День открытых дверей
          .main-section__left-day 18 авг
            .main-section__left-hidden День открытых дверей
          .main-section__left-day 19 авг
            .main-section__left-hidden День открытых дверей
          .main-section__left-close
        .main-section__right-bar
          .main-section__right-item
            img(src='images/tel.png' alt='')
            .main-section__right-text консультация
          .main-section__right-item.main-section__left-item--mb
            img(src='images/mail.png' alt='')
            .main-section__right-text Подписаться
        .container
          +e.title Следите за новостями РШУ
          .row
            +e.A.btn(href="#") Подписаться
      +b.SECTION.newslist.pb-0
        .container
          .row
            .col-md-6
              +e.item
                +e.A.img-link(href="#")
                  img(src="images/news-pic-1.jpg", alt="изображение 1", width="228", height="174")
                +e.wrapper
                  +e.SPAN.date 20.11.2018
                  +e.H4.title Расширяем границы бизнеса
                  +e.SPAN.excerpt В московском офисе Русской Школы Управления прошло обучение по ВЭД.&emsp;
                    a.news__text-link(href="#") Читать далее
              +e.item
                +e.A.img-link(href="#")
                  img(src="images/news-pic-2.jpg", alt="изображение 2", width="228", height="174")
                +e.wrapper
                  +e.SPAN.date 14.11.2018
                  +e.H4.title Фотоконкурс «Учусь в РШУ» — итоги октября
                  +e.SPAN.excerpt РШУ подводит итоги ежемесячного фотоконкурса.&emsp;
                    a.news__text-link(href="#") Читать далее
              +e.item
                +e.A.img-link(href="#")
                  img(src="images/news-pic-3.jpg", alt="изображение 3", width="228", height="174")
                +e.wrapper
                  +e.SPAN.date 12.11.2018
                  +e.H4.title РШУ стала партнером конкурса «Лидеры России»
                  +e.SPAN.excerpt Участникам конкурса доступны специальные условия обучения.&emsp;
                    a.news__text-link(href="#") Читать далее
            .col-md-6
              +e.item
                +e.A.img-link(href="#")
                  img(src="images/news-pic-4.jpg", alt="изображение 4", width="228", height="174")
                +e.wrapper
                  +e.SPAN.date 19.11.2018
                  +e.H4.title Повышаем эффективность финансового менеджмента
                  +e.SPAN.excerpt На прошлой неделе в РШУ состоялись курсы по финансам, экономике и бухгалтерии.&emsp;
                    a.news__text-link(href="#") Читать далее
              +e.item
                +e.A.img-link(href="#")
                  img(src="images/news-pic-5.jpg", alt="изображение 5", width="228", height="174")
                +e.wrapper
                  +e.SPAN.date 13.11.2018
                  +e.H4.title Кого и чему будут учить в 2019 году
                  +e.SPAN.excerpt Русская Школа Управления приглашает принять участие в опросе.&emsp;
                    a.news__text-link(href="#") Читать далее
              +e.item
                +e.A.img-link(href="#")
                  img(src="images/news-pic-6.jpg", alt="изображение 6", width="228", height="174")
                +e.wrapper
                  +e.SPAN.date 09.11.2018
                  +e.H4.title РШУ провела курсы по логистике и недвижимости
                  +e.SPAN.excerpt В Санкт-Петербурге прошло обучение специалистов по логистике и коммерческой недвижимости.&emsp;
                    a.news__text-link(href="#") Читать далее
          .personal-main__bottom
            a.personal-main__more Показать еще
            .personal-main__wrapper-select
              .personal-main__select.personal-main__select_item
                select.js-select
                  option Показывать по 10
                  option Показывать по 20
                  option Показывать по 30
    include pug/footer.pug
