include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Главная')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.pb-0(style='background-image: url(images/main.jpg)')
    .container-bread-crumps
        .row
          .col-md-4
            a.bread-crumps-link1(href='#' alt='') 
              | Главная »
            a.bread-crumps-link1(href='#' alt='') 
              | Вернуться к подбору курсов »
            a.bread-crumps-link1(href='#' alt='') 
              | Корзина
    .container.main-header
      .row
        .col-md-5
          h1.headline
            | Оформление заказа
    section.form-section
      form#main-form.form-offer
        .container
            .row
              .col-md-8
                label#family.contacts-details 1. Контактные данные
                input.surname(name='family', placeholder='ФИО', type='text')
                input.phone(name='phone', placeholder='Телефон', type='text')
                input.e-mail(name='e-mail', placeholder='E-mail', type='text')
              .col-md-4
                p.paragraph-element-one
                  label#law-person.body Юридическое лицо
                    input.visually-hidden(name='law-person' type='checkbox')
                    span.checkbox-indicator
                p.paragraph-element-two
                  label#individual.body Физическое лицо 
                    input.visually-hidden(name='individual' type='checkbox')
                    span.checkbox-indicator
              .col-md-5
                label.contacts 2. Способы Оплаты
                label.law-persons Юридическое лицам
                p.main-paragraph
                  label#bank-card.body Банковская карта
                    input.visually-hidden(name='bank-card' type='checkbox')
                    span.checkbox-indicator
                p.main-paragraph
                  label#bill.body Выставить счет
                    input.visually-hidden(name='bill' type='checkbox')
                    span.checkbox-indicator
                label.dilivery 3.Доставка
                p.main-paragraph
                  label#pickup-card.body Самовывоз/Забрать на обучении
                    input.visually-hidden(name='pickup' type='checkbox')
                    span.checkbox-indicator
                p.main-paragraph
                  label#courier-city.body Доставка курьером(Москва и Санкт-Петербург)
                    input.visually-hidden(name='courier-city' type='checkbox')
                    span.checkbox-indicator
                p.main-paragraph
                  label#courier.body Доставка курьером
                    input.visually-hidden(name='courier' type='checkbox')
                    span.checkbox-indicator

    .container.button
      .row
        .col-md-3
          button.button-offer(form='main-form' type='submit' value='')
            | Оформить заказ
                  
              

            

    include pug/footer.pug