include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/bemto.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Аренда аудиторий')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.main-section--owl.pb-0.header-section(style="background-image: url(images/personal.jpg)")
      .container
        +b.SECTION.personal-header
          +e.title Курсы управления персоналом
          +e.FORM.form
            .row
              .col-md-4
                +e.wrapper-select
                  +e.select_item
                    select.js-select
                      option Город
                      option Город
                      option Город
                      option Город
                .row
                  .col-6
                    +e.wrapper-select._left
                      +e.select_item
                        select.js-select
                          option Период с
                          option Период с
                          option Период с
                          option Период с
                  .col-6
                    +e.wrapper-select._right
                      +e.select_item
                        select.js-select
                          option до
                          option до
                          option до
                          option до

              .col-md-4
                +e.wrapper-select
                  +e.select_item
                    select.js-select
                      option Форма обучения
                      option Форма обучения
                      option Форма обучения
                      option Форма обучения
                +e.wrapper-text
                  input(type="text" placeholder="Преподаватели")
                  +svg("loop")
                +e.BUTTON(type="submit").button-results Найдено 1547 курсов

              .col-md-4
                +e.wrapper-text
                  input(type="text" placeholder="Ключевые слова")
                  +svg("loop")
                +e.A.button-sale Курсы с 15% скидкой

          +e.banner
            img(src="images/expert-banner.jpg", width="128" height="35" alt="")
            +e.banner-text пО МНЕНИЮ ЖУРНАЛА “эКСПЕРТ” ршу ВХОДИТ В ПЯТЕРКУ ЛУЧШИХ БИЗНЕС-ШКОЛ рОССИИ
        
    +b.SECTION.personal-main
      section.lego-result 
        .container 
          .lego-result__group 
            .lego-result__list 
              .lego-result__item 
                .lego-result__sity-toggle
                  a(href='').lego-result__sity-item.lego-result__sity-item--current Москва
                  a(href='').lego-result__sity-item Санкт-Петербург
                  a(href='').lego-result__sity-item Екатеринбург
                .row 
                  .col-md-3 
                    .lego-result__wrapper-image
                      img(src='http://placehold.it/174x136' alt='').lego-result__img
                      .lego-result__wrapper-button
                        a(href="#").lego-result__button-programm Программа курса
                        a(href="#").lego-result__button-download 
                  .col-md-6
                    .lego-result__col-text
                      .lego-result__status очно (5 дней)
                      a(href='#').lego-result__name Директор по персоналу
                      .lego-result__text Текст текст текст, текст текст, текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текст,  текст текст, текст текст, текст текст, текст текст текст текст текст...
                      .lego-result__dates Ближайшая дата: 20 августа 2018. <br> <a href=''>Смотреть другие даты  >></a> 
                  .col-md-3  
                    .lego-result__price-col
                      .lego-result__old-price 55.000 <span class='rub'>руб.</span>
                      .lego-result__price 45.000 <span class='rub'>руб.</span>
                      a(href='#').lego-result__one-click Купить в 1 клик
                      a(href='#').lego-result__cart-btn Подробнее
              .lego-result__item 
                .lego-result__sity-toggle
                  a(href='').lego-result__sity-item.lego-result__sity-item--current Москва
                  a(href='').lego-result__sity-item Санкт-Петербург
                  a(href='').lego-result__sity-item Екатеринбург
                .row 
                  .col-md-3 
                    .lego-result__wrapper-image
                      img(src='http://placehold.it/174x136' alt='').lego-result__img
                      .lego-result__wrapper-button
                        a(href="#").lego-result__button-programm Программа курса
                        a(href="#").lego-result__button-download 
                  .col-md-6
                    .lego-result__col-text
                      .lego-result__status очно (5 дней)
                      a(href='#').lego-result__name PR-ДИРЕКТОР (5 ДНЕЙ)
                      .lego-result__text Текст текст текст, текст текст, текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текст,  текст текст, текст текст, текст текст, текст текст текст текст текст...
                      .lego-result__dates Ближайшая дата: 20 августа 2018. <br> <a href=''>Смотреть другие даты  >></a> 
                  .col-md-3  
                    .lego-result__price-col
                      .lego-result__old-price 52.000 <span class='rub'>руб.</span>
                      .lego-result__price 41.000 <span class='rub'>руб.</span>
                      a(href='#').lego-result__one-click Купить в 1 клик
                      a(href='#').lego-result__cart-btn Подробнее
              .lego-result__item 
                .lego-result__sity-toggle
                  a(href='').lego-result__sity-item.lego-result__sity-item--current Москва
                  a(href='').lego-result__sity-item Санкт-Петербург
                  a(href='').lego-result__sity-item Екатеринбург
                .row 
                  .col-md-3 
                    .lego-result__wrapper-image
                      img(src='http://placehold.it/174x136' alt='').lego-result__img
                      .lego-result__wrapper-button
                        a(href="#").lego-result__button-programm Программа курса
                        a(href="#").lego-result__button-download 
                  .col-md-6
                    .lego-result__col-text
                      .lego-result__status очно (5 дней)
                      a(href='#').lego-result__name Micro mba. персонал
                      .lego-result__text Текст текст текст, текст текст, текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текст,  текст текст, текст текст, текст текст, текст текст текст текст текст...
                      .lego-result__dates Ближайшая дата: 20 августа 2018. <br> <a href=''>Смотреть другие даты  >></a> 
                  .col-md-3  
                    .lego-result__price-col
                      .lego-result__old-price 45.000 <span class='rub'>руб.</span>
                      .lego-result__price 35.000 <span class='rub'>руб.</span>
                      a(href='#').lego-result__one-click Купить в 1 клик
                      a(href='#').lego-result__cart-btn Подробнее
              .lego-result__item 
                .lego-result__sity-toggle
                  a(href='').lego-result__sity-item.lego-result__sity-item--current Москва
                  a(href='').lego-result__sity-item Санкт-Петербург
                  a(href='').lego-result__sity-item Екатеринбург
                .row 
                  .col-md-3 
                    .lego-result__wrapper-image
                      img(src='http://placehold.it/174x136' alt='').lego-result__img
                      .lego-result__wrapper-button
                        a(href="#").lego-result__button-programm Программа курса
                        a(href="#").lego-result__button-download 
                  .col-md-6
                    .lego-result__col-text
                      .lego-result__status очно (5 дней)
                      a(href='#').lego-result__name Менеджер по персоналу
                      .lego-result__text Текст текст текст, текст текст, текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текст,  текст текст, текст текст, текст текст, текст текст текст текст текст...
                      .lego-result__dates Ближайшая дата: 20 августа 2018. <br> <a href=''>Смотреть другие даты  >></a> 
                  .col-md-3  
                    .lego-result__price-col
                      .lego-result__old-price 52.000 <span class='rub'>руб.</span>
                      .lego-result__price 41.000 <span class='rub'>руб.</span>
                      a(href='#').lego-result__one-click Купить в 1 клик
                      a(href='#').lego-result__cart-btn Подробнее
              .lego-result__item 
                .lego-result__sity-toggle
                  a(href='').lego-result__sity-item.lego-result__sity-item--current Москва
                  a(href='').lego-result__sity-item Санкт-Петербург
                  a(href='').lego-result__sity-item Екатеринбург
                .row 
                  .col-md-3 
                    .lego-result__wrapper-image
                      img(src='http://placehold.it/174x136' alt='').lego-result__img
                      .lego-result__wrapper-button
                        a(href="#").lego-result__button-programm Программа курса
                        a(href="#").lego-result__button-download 
                  .col-md-6
                    .lego-result__col-text
                      .lego-result__status очно (5 дней)
                      a(href='#').lego-result__name ДИРЕКТОР Гостиницы
                      .lego-result__text Текст текст текст, текст текст, текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текст,  текст текст, текст текст, текст текст, текст текст текст текст текст...
                      .lego-result__dates Ближайшая дата: 20 августа 2018. <br> <a href=''>Смотреть другие даты  >></a> 
                  .col-md-3  
                    .lego-result__price-col
                      .lego-result__old-price 45.000 <span class='rub'>руб.</span>
                      .lego-result__price 35.000 <span class='rub'>руб.</span>
                      a(href='#').lego-result__one-click Купить в 1 клик
                      a(href='#').lego-result__cart-btn Подробнее

          +e.UL.list-sort
            +e.LI.item-sort
              a(href="#") ВСЕ КАТЕГОРИИ
            +e.LI.item-sort._active
              a(href="#") Кадровая политика
            +e.LI.item-sort
              a(href="#") Кадровое делопроизводство
            +e.LI.item-sort
              a(href="#") Подбор и адаптация
            +e.LI.item-sort
              a(href="#") Оценка, обучение и развитие
            +e.LI.item-sort
              a(href="#") Мотивация
            +e.LI.item-sort
              a(href="#") Рекрутмент, развитие и карьера
            +e.LI.item-sort
              a(href="#") Корпоративная культура
            +e.LI.item-sort
              a(href="#") Онлайн-курсы по персоналу
            +e.LI.item-sort
              a(href="#") Дистанционное обучение
            +e.LI.item-sort
              a(href="#") Вечерний формат

      
      .container
        +e.bottom
          +e.A.more Показать еще
          +e.wrapper-select
            +e.select_item
              select.js-select
                option Показывать по 10
                option Показывать по 20
                option Показывать по 30

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#programmModal">
        |Модалка "программа курса"
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrModal">
        |Модалка "регистрация на курс"
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tableModal">
        |Модалка "расписание курса"
      </button>

      <div class="modal fade modal-programm" id="programmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          .modal-programm__content
            .modal-programm__title Программа курса
            form.modal-programm__form
              .modal-programm__wrapper-text
                input(type="text" placeholder="ФИО")
              .modal-programm__wrapper-text
                input(type="text" placeholder="E-mail")
              .modal-programm__wrapper-text
                input(type="text" placeholder="Город")
              .modal-programm__wrapper-button
                button(type="submit").modal-programm__submit Получить на почту
                a(href="#").modal-programm__dawnload Скачать

            <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>

      <div class="modal fade modal-table" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          .modal-table__content
            .modal-table__title Расписание курса «Директор по закупкам»
            table.modal-table__main
              tr
                th.modal-table__col-first
                th Январь
                th Февраль
                th Март
                th Апрель
                th Май
                th Июнь
                th Июль
                th Август
                th Сентябрь
                th Октябрь
                th Ноябрь
                th Декабрь
              tr
                td(rowspan="2") Москва
                td
                  span.modal-table__date(style="left: 0; width: 100%") 17.01—25.01
                td
                td
                td
                  span.modal-table__date(style="left: 0; width: 240%") 11.04—05.06
                td
                td
                  span.modal-table__date(style="left: 50%; width: 255%") 11.06—05.08
                td
                td
                td
                td
                  span.modal-table__date(style="left: 0; width: 150%") 10.10—11.11
                td
                td
              tr
                td
                  span.modal-table__date(style="left: 53%; width: 150%") 28.01—07.02
                td
                td
                td
                td
                  span.modal-table__date(style="left: 0; width: 100%") 20.05.—25.05
                td
                td
                td
                td
                  span.modal-table__date(style="left: 0; width: 100%") 15.09—20.09
                td
                td
                td

              tr
                td Санкт-Петербург
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
              tr
                td Краснодар
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
              tr
                td Пермь
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
              tr
                td Сочи
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td

            

            <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>

      <div class="modal fade modal-registr" id="registrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          .modal-registr__content
            .modal-registr__title Регистрация на курс
            .modal-registr__main
              form.modal-registr__form
                .modal-registr__row
                  .modal-registr__col-bg
                    .modal-registr__title-course Курс «Директор по закупкам»
                    .modal-registr__text-course Текст  текст текст, Текст текст  текст текст, текст текст, Текст текст текст, текст текст, текст текст, текст текст текст текст текст... <a href="#"> Подробнее &gt;&gt; </a>
                  .modal-registr__col-sm
                    .modal-registr__old-price 56.000 <span class='rub'>руб.</span>
                    .modal-registr__price 44.000 <span class='rub'>руб.</span>
                    .modal-registr__wrapper-select
                      .modal-registr__select_item
                        select.js-select
                          option Санкт-Петербург
                          option Санкт-Петербург
                          option Санкт-Петербург
                      .modal-registr__select_item
                        select.js-select
                          option Выбрать дату
                          option Выбрать дату
                          option Выбрать дату
                .modal-registr__wrapper-text
                  input(type="text" placeholder="ФИО")
                .modal-registr__wrapper-text
                  input(type="text" placeholder="E-mail")
                .modal-registr__wrapper-text
                  input(type="text" placeholder="Телефон")
                .modal-registr__wrapper-button
                  a(href="#").modal-registr__promo Промокод
                  button(type="submit").modal-registr__submit Отправить

            <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
              
              
              



    include pug/footer.pug