include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/bemto.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Аренда аудиторий')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.main-section--owl.pb-0.header-section(style="background-image: url(images/man.jpg)")
      .container
        +b.reviews-title
          +e.text Отзывы клиентов о семинарах

    +b.SECTION.reviews
      .container
        +e.title Отзывы по курсу «Правовое сопровождение группы компаний»
        +e.UL.feedback-list
          +e.LI.feedback-item
            +e.feedback-photo
              img(src="images/user-1.jpg", alt="")
            +e.feedback-content
              +e.feedback-header
                +e.feedback-data 15 Сентября 2017
                +e.feedback-rate(data-star="5")
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
              +e.feedback-user Звонарев Андрей Сергеевич
              +e.feedback-text Грамотно построена программа обучения, от приема персонала, адаптация до построения системы оплаты труда. Много примеров практических, которые можно применить в работе, что очень важно. Текст текст текст текст текст. Текст текст текст текст текст. Текст текст текст текст текст. Текст текст текст текст текст. Текст текст текст текст текст. Текст текст текст текст текст. Текст текст текст текст текст. Спасибо!! :)
              +e.locate г. Москва
          +e.LI.feedback-item
            +e.feedback-photo
              img(src="images/user-1.jpg", alt="")
            +e.feedback-content
              +e.feedback-header
                +e.feedback-data 15 Сентября 2017
                +e.feedback-rate(data-star="3")
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
              +e.feedback-user Звонарев Андрей Сергеевич
              +e.feedback-text Грамотно построена программа обучения, от приема персонала, адаптация до построения системы оплаты труда. Много примеров практических, которые можно применить в работе, что очень важно. Текст текст текст текст текст. Спасибо!! :) <a href="#">Читать далее >></a>
              +e.locate г. Москва
          +e.LI.feedback-item
            +e.feedback-photo
              img(src="images/user-1.jpg", alt="")
            +e.feedback-content
              +e.feedback-header
                +e.feedback-data 15 Сентября 2017
                +e.feedback-rate(data-star="3")
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
              +e.feedback-user Звонарев Андрей Сергеевич
              +e.feedback-text Грамотно построена программа обучения, от приема персонала, адаптация до построения системы оплаты труда. Много примеров практических, которые можно применить в работе, что очень важно. Текст текст текст текст текст. Спасибо!! :) <a href="#">Читать далее >></a>
              +e.locate г. Москва
          +e.LI.feedback-item
            +e.feedback-photo
              img(src="images/user-1.jpg", alt="")
            +e.feedback-content
              +e.feedback-header
                +e.feedback-data 15 Сентября 2017
                +e.feedback-rate(data-star="3")
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
              +e.feedback-user Звонарев Андрей Сергеевич
              +e.feedback-text Грамотно построена программа обучения, от приема персонала, адаптация до построения системы оплаты труда. Много примеров практических, которые можно применить в работе, что очень важно. Текст текст текст текст текст. Спасибо!! :)
              +e.locate г. Москва
          +e.LI.feedback-item
            +e.feedback-photo
              img(src="images/user-1.jpg", alt="")
            +e.feedback-content
              +e.feedback-header
                +e.feedback-data 15 Сентября 2017
                +e.feedback-rate(data-star="3")
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
                  +e.rate-item
              +e.feedback-user Звонарев Андрей Сергеевич
              +e.feedback-text Грамотно построена программа обучения, от приема персонала, адаптация до построения системы оплаты труда. Много примеров практических, которые можно применить в работе, что очень важно. Текст текст текст текст текст. Спасибо!! :)
              +e.locate г. Москва
        +e.bottom
          +e.A.more Показать еще
          +e.wrapper-select
            +e.select_item
              select.js-select
                option Показывать по 10
                option Показывать по 20
                option Показывать по 30

    include pug/footer.pug