include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/bemto.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Аренда аудиторий')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.main-section--owl.pb-0.header-section(style="background-image: url(images/man.jpg)")
      .container
        +b.reviews-title
          +e.text Отзывы клиентов о семинарах

    +b.SECTION.workshop
      .container
        +e.list
          .row
            .col-md-3
              +e.A.item._c1
                +e.item-title Общее управление (25)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c2
                +e.item-title Стратегия Проекты <br> Инновации (29)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c3
                +e.item-title Финансы Экономика <br> Бухгалтерия (39)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c4
                +e.item-title Персонал (71)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c5
                +e.item-title Право (86)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам

            .col-md-3
              +e.A.item._c6
                +e.item-title Безопастность (32)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c7
                +e.item-title Продажи (27)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c8
                +e.item-title Маркетинг (26)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c9
                +e.item-title Процессы и качество (21)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c10
                +e.item-title Производство (25)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c11
                +e.item-title ИТ (16)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c12
                +e.item-title PR и Реклама (14)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c13
                +e.item-title ВЭД (16)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c14
                +e.item-title Логистика Снабжение (21)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c15
                +e.item-title Конкурсы Тендеры (20)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c16
                +e.item-title Строительство Девелопмент (36)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c17
                +e.item-title ЖКХ (23)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c18
                +e.item-title Коммерческая <br> недвижимость (19)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c19
                +e.item-title Торговля Ритейл (26)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c20
                +e.item-title Сфера услуг (22)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c21
                +e.item-title Индустрия обучения <br> и развития (18)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c22
                +e.item-title Личность <br> Коммуникации (104)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c23
                +e.item-title Офис АХО Сервис (29)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
            .col-md-3
              +e.A.item._c24
                +e.item-title Аналитика (15)
              +e.UL.sublist
                li 
                  a(href='#') Актуальные вопросы договорной работы в сфере авторского права и сети
                li 
                  a(href='#') Актуальные вопросы международного права
                li 
                  a(href='#') Актуальные вопросы применения трудового законодательства
                li 
                  a(href='#') Антикризисный управляющий
                li 
                  a(href='#') Банкротство: путеводитель по принятию решений
                li 
                  a(href='#') Вопросы противодействия получению необоснованной налоговой выгоды
                li 
                  a(href='#') Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li 
                  a(href='#') Директор по правовым вопросам в Екатеринбурге
                li 
                  a(href='#') Договорное право в практике арбитражных судов
                li 
                  a(href='#') Урегулирование долгов при банкротстве
                li 
                  a(href='#') Юридическое администрирование
                li 
                  a(href='#') Юрист международной компании
                li 
                  a(href='#') Юрист по договорнрму праву
                li 
                  a(href='#') Юрист по информационным технологиям и интеллектуальным правам
                li 
                  a(href='#') Юрист по недвижимости
                li 
                  a(href='#') Юрист по сопровождению строительства
                li 
                  a(href='#') Актуальные вопросы корпоративного права в практике арбитражных судов
                li 
                  a(href='#') Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li 
                  a(href='#') Англо-американское договорное право
                li 
                  a(href='#') Арсенал судебного юриста: повышаем боеспособность
                li 
                  a(href='#') Взыскание долга: технологии ведущих специалистов
                li 
                  a(href='#') Выступление в суде. Презентационные навыки юриста
                li 
                  a(href='#') Директор по правовым вопросам
                  
            


    include pug/footer.pug