include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/bemto.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Аренда аудиторий')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.main-section--owl.pb-0.header-section(style="background-image: url(images/man.jpg)")
      .container
        +b.reviews-title
          +e.text Отзывы клиентов о семинарах

    +b.SECTION.workshop
      .container
        +e.list
          .row
            .col-md-3
              +e.A.item._c1
                +e.item-title Общее управление (25)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Банкротство: путеводитель по принятию решений
                li Вопросы противодействия получению необоснованной налоговой выгоды
                li Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li Директор по правовым вопросам в Екатеринбурге
                li Договорное право в практике арбитражных судов
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c2
                +e.item-title Стратегия Проекты <br> Инновации (29)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Банкротство: путеводитель по принятию решений
                li Вопросы противодействия получению необоснованной налоговой выгоды
                li Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li Директор по правовым вопросам в Екатеринбурге
                li Договорное право в практике арбитражных судов
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c3
                +e.item-title Финансы Экономика <br> Бухгалтерия (39)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c4
                +e.item-title Персонал (71)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c5
                +e.item-title Право (86)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Банкротство: путеводитель по принятию решений
                li Вопросы противодействия получению необоснованной налоговой выгоды
                li Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li Директор по правовым вопросам в Екатеринбурге
                li Договорное право в практике арбитражных судов
                li Договоры и дебиторка: грамотное построение работы
                li Заключение договоров и урегулирование споров
                li Защита прав кредитора в процедурах банкротства
                li Инвестиционно-строительная деятельность: правовые аспекты
                li Интеллектуальные права в коммерческой и маркетинговой деятельности
                li Коллекторство для юристов
                li Корпоративный секретарь
                li Курс: Сделки с недвижимостью
                li Маркетинг юридических услуг
                li Налоговые риски при заключении договоров
                li Новейшие изменения в законодательстве об ООО: новые условия и возможности
                li Новеллы ГК РФ
                li Обзор изменений законодательства и судебной практики для юриста компании
                li Организация судебной работы (16 ч.)
                li Повышение квалификации: договорная работа
                li Повышение квалификации: судебные компетенции
                li Право медицины: актуальные вопросы практики
                li Правовое сопровождение группы компаний
                li Практические аспекты трудового права и разрешения трудовых конфликтов
                li Процессуальные вопросы рассмотрения дел в арбитражном суде
                li Сделки и обязательства
                li Сложные вопросы антимонопольного регулирования
                li Специалист договорного отдела
                li Технология кризисного управления
                li Ведение налоговых споров
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
                li Договорное право: курс повышения квалификации
                li Договоры: информационные технологии и Интернет
                li Заключение договоров: переговоры, регламенты, судебная практика
                li Изменения правил договорно-правовых отношений
                li Инструменты эффективной договорной работы
                li Кодекс административного судопроизводства
                li Корпоративное право: повышение квалификации
                li Корпоративный юрист - инструменты правового сопровождения предприятия
                li Курсы по процессуальному и административному праву
                li Налоговая правовая защита: понимание, построение, действие
                li Начальник договорного отдела
                li Новеллы в сделках с недвижимостью и государственной регистрации
                li Новеллы договорного права и судебной практики
                li Организации судебной работы
                li Оффшорные компании и трастовые фонды
                li Повышение квалификации: правовое сопровождение недвижимости
                li Последние изменения антимонопольного законодательства: актуальная практика и разъяснения ФАС...
                li Правовой аудит. Due Diligence
                li Предоставление и оформление земельных участков под строительство
                li Российское и англо-американское договорное право
                li Сделки с недвижимым имуществом
                li Совместные предприятия и соглашения акционеров
                li Судебный юрист: комплексное повышение квалификации
                li Трудовые конфликты: юридическая техника и судебная практика разрешения
                li Управление дебиторской задолженносью
                li Холдинги в РФ. Правовое регулирование эконномической зависимости. Управление в группе...
                li Юрисконсульт организации
                li Юрист по ВЭД
                li Юрист по земельному праву
                li Юрист по налоговому праву
                li Юрист по претензионно-исковой работе

            .col-md-3
              +e.A.item._c6
                +e.item-title Безопастность (32)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Банкротство: путеводитель по принятию решений
                li Вопросы противодействия получению необоснованной налоговой выгоды
                li Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li Директор по правовым вопросам в Екатеринбурге
                li Договорное право в практике арбитражных судов
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c7
                +e.item-title Продажи (27)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Банкротство: путеводитель по принятию решений
                li Вопросы противодействия получению необоснованной налоговой выгоды
                li Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li Директор по правовым вопросам в Екатеринбурге
                li Договорное право в практике арбитражных судов
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c8
                +e.item-title Маркетинг (26)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Банкротство: путеводитель по принятию решений
                li Вопросы противодействия получению необоснованной налоговой выгоды
                li Гражданско-правовой договор: реформа ГК РФ, судебная практика и практика договорной работы
                li Директор по правовым вопросам в Екатеринбурге
                li Договорное право в практике арбитражных судов
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c9
                +e.item-title Процессы и качество (21)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c10
                +e.item-title Производство (25)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c11
                +e.item-title ИТ (16)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c12
                +e.item-title PR и Реклама (14)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c13
                +e.item-title ВЭД (16)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c14
                +e.item-title Логистика Снабжение (21)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c15
                +e.item-title Конкурсы Тендеры (20)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c16
                +e.item-title Строительство Девелопмент (36)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c17
                +e.item-title ЖКХ (23)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c18
                +e.item-title Коммерческая <br> недвижимость (19)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c19
                +e.item-title Торговля Ритейл (26)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c20
                +e.item-title Сфера услуг (22)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c21
                +e.item-title Индустрия обучения <br> и развития (18)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c22
                +e.item-title Личность <br> Коммуникации (104)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c23
                +e.item-title Офис АХО Сервис (29)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам
            .col-md-3
              +e.A.item._c24
                +e.item-title Аналитика (15)
              +e.UL.sublist
                li Актуальные вопросы договорной работы в сфере авторского права и сети
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Актуальные вопросы международного права
                li Актуальные вопросы применения трудового законодательства
                li Антикризисный управляющий
                li Урегулирование долгов при банкротстве
                li Юридическое администрирование
                li Юрист международной компании
                li Юрист по договорнрму праву
                li Юрист по информационным технологиям и интеллектуальным правам
                li Юрист по недвижимости
                li Юрист по сопровождению строительства
                li Актуальные вопросы корпоративного права в практике арбитражных судов
                li Актуальные вопросы применения новых норм процессуального права. Кодекс административного...
                li Англо-американское договорное право
                li Арсенал судебного юриста: повышаем боеспособность
                li Взыскание долга: технологии ведущих специалистов
                li Выступление в суде. Презентационные навыки юриста
                li Директор по правовым вопросам

            


    include pug/footer.pug